/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;


*/
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 23, ../sass/screen.scss */
.nopadding {
  padding: 0 !important;
}

/* line 26, ../sass/screen.scss */
.nomargin {
  margin: 0 !important;
}

/* line 29, ../sass/screen.scss */
.fullwidth {
  width: 100% !important;
}

/* line 32, ../sass/screen.scss */
.notransition {
  -webkit-transition: none !important;
          transition: none !important;
}

/* line 35, ../sass/screen.scss */
.hide {
  display: none !important;
}

/* line 38, ../sass/screen.scss */
input {
  font-family: "Raleway", sans-serif !important;
}

/* line 41, ../sass/screen.scss */
html {
  height: 100%;
}

/* line 44, ../sass/screen.scss */
body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  font-family: "Raleway", sans-serif !important;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* line 59, ../sass/screen.scss */
header#head {
  background-color: #283032;
  height: 100%;
  display: block !important;
  float: left;
  height: 100%;
  color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
}
/* line 71, ../sass/screen.scss */
header#head #logo {
  margin: 27px;
}
/* line 73, ../sass/screen.scss */
header#head #logo img {
  width: 150px;
  margin: 0 auto;
  display: block;
}
/* line 79, ../sass/screen.scss */
header#head #nav {
  width: 100%;
  margin: 0 auto;
}
/* line 82, ../sass/screen.scss */
header#head #nav li {
  color: #FFF;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
/* line 86, ../sass/screen.scss */
header#head #nav li a {
  padding: 14px 40px;
  text-decoration: none;
  color: #fff;
  display: inherit;
  width: 200px;
}
/* line 92, ../sass/screen.scss */
header#head #nav li a i {
  margin-right: 20px;
}
/* line 98, ../sass/screen.scss */
header#head #nav li:hover {
  border-left: 5px solid #c6c6c6;
  background-color: #171a1c;
}
/* line 101, ../sass/screen.scss */
header#head #nav li:hover ul {
  height: 190px;
}
/* line 106, ../sass/screen.scss */
header#head #nav li:visited {
  color: #fff;
}
/* line 109, ../sass/screen.scss */
header#head #nav li ul {
  height: 0;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
/* line 115, ../sass/screen.scss */
header#head #nav li ul li {
  opacity: 0.5;
}
/* line 117, ../sass/screen.scss */
header#head #nav li ul li a {
  padding-left: 80px;
}
/* line 120, ../sass/screen.scss */
header#head #nav li ul li:hover {
  background-color: transparent;
  border-left: 5px solid #fff;
  opacity: 1;
}
/* line 133, ../sass/screen.scss */
header#head #login {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
/* line 137, ../sass/screen.scss */
header#head #login li {
  float: left;
  text-transform: uppercase;
  margin-left: 10px;
  color: #fff;
  padding: 6px 20px;
  text-align: center;
  width: 160px;
  margin: 5px 0;
}
/* line 147, ../sass/screen.scss */
header#head #login li a {
  color: #FFF;
}
/* line 150, ../sass/screen.scss */
header#head #login li.button {
  background-color: #fff;
  border-radius: 20px;
  color: #000;
}
/* line 158, ../sass/screen.scss */
header#head #barres {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
/* line 163, ../sass/screen.scss */
header#head #barres #jaune {
  height: 5px;
  width: 25%;
  background-color: #eeb939;
  float: left;
}
/* line 169, ../sass/screen.scss */
header#head #barres #rouge {
  height: 5px;
  width: 25%;
  background-color: #e06748;
  float: left;
}
/* line 175, ../sass/screen.scss */
header#head #barres #violet {
  height: 5px;
  width: 25%;
  background-color: #895993;
  float: left;
}
/* line 181, ../sass/screen.scss */
header#head #barres #bleu {
  height: 5px;
  width: 25%;
  background-color: #98b8e1;
  float: left;
}

/* line 190, ../sass/screen.scss */
#navhidebtn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 10px;
  top: 30px;
  padding: 8px 7px;
}

/* line 201, ../sass/screen.scss */
section#content {
  background: #ccc;
  overflow: visible;
  position: absolute;
  margin-left: 16.66666667%;
  -webkit-transition: all .6s ease-in-out;
          transition: all .6s ease-in-out;
}
/* line 207, ../sass/screen.scss */
section#content.navhide {
  margin-left: 0 !important;
}
/* line 211, ../sass/screen.scss */
section#content #owl-slide .item {
  background-color: red;
}
/* line 213, ../sass/screen.scss */
section#content #owl-slide .item img {
  display: block;
  width: 100%;
  height: auto;
}
/* line 222, ../sass/screen.scss */
section#content #owl-artistes .artiste {
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  border-radius: 3px;
  text-align: center;
}
/* line 234, ../sass/screen.scss */
section#content .owl-theme .owl-controls {
  z-index: 9999;
  margin-top: -40px;
  position: absolute;
  top: -10px;
  right: 30px;
}
/* line 241, ../sass/screen.scss */
section#content .owl-theme .owl-controls .owl-prev {
  background: url(../images/arrow-prev-noir.png) no-repeat 10px center;
  font-size: 0;
  padding: 14px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  float: left;
}
/* line 248, ../sass/screen.scss */
section#content .owl-theme .owl-controls .owl-prev:hover {
  background: url(../images/arrow-prev-blanc.png) #283032 no-repeat 10px center;
}
/* line 253, ../sass/screen.scss */
section#content .owl-theme .owl-controls .owl-next {
  background: url(../images/arrow-next-noir.png) no-repeat 10px center;
  font-size: 0;
  padding: 14px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  float: left;
}
/* line 260, ../sass/screen.scss */
section#content .owl-theme .owl-controls .owl-next:hover {
  background: url(../images/arrow-next-blanc.png) #283032 no-repeat 10px center;
}
/* line 268, ../sass/screen.scss */
section#content .owl-theme .owl-controls .owl-page span {
  opacity: 1;
}
/* line 271, ../sass/screen.scss */
section#content .owl-theme .owl-controls .owl-page.active span {
  background-color: #fff;
  border: 4px solid #aaa;
}
/* line 280, ../sass/screen.scss */
section#content #searchbar {
  position: absolute;
  top: 35px;
  left: 60px;
  border: 0;
  background-color: transparent;
}
/* line 16, ../sass/screen.scss */
section#content #searchbar ::-webkit-input-placeholder {
  color: white;
  font-weight: 100;
}
/* line 17, ../sass/screen.scss */
section#content #searchbar :-moz-placeholder {
  color: white;
  font-weight: 100;
}
/* line 18, ../sass/screen.scss */
section#content #searchbar ::-moz-placeholder {
  color: white;
  font-weight: 100;
}
/* line 19, ../sass/screen.scss */
section#content #searchbar :-ms-input-placeholder {
  color: white;
  font-weight: 100;
}
/* line 290, ../sass/screen.scss */
section#content #searchbar:after {
  content: "";
  border-bottom: 1px solid #fff;
  width: 135px;
  height: 1px;
  position: absolute;
  top: 30px;
  left: 5px;
  opacity: 0.5;
}
/* line 301, ../sass/screen.scss */
section#content #searchbar input {
  border: 0;
  background-color: transparent;
  opacity: 0.8;
  width: 120px;
}
/* line 307, ../sass/screen.scss */
section#content #searchbar input:focus {
  outline: 0;
}
/* line 311, ../sass/screen.scss */
section#content #searchbar a {
  color: #fff;
  opacity: 0.5;
}
/* line 317, ../sass/screen.scss */
section#content nav#navslider {
  position: absolute;
  top: 30px;
  right: 35px;
}
/* line 321, ../sass/screen.scss */
section#content nav#navslider li {
  float: left;
  text-transform: uppercase;
  margin-left: 10px;
  color: #fff;
  padding: 6px 20px;
}
/* line 328, ../sass/screen.scss */
section#content nav#navslider li a {
  color: #FFF;
}
/* line 331, ../sass/screen.scss */
section#content nav#navslider li.button {
  background-color: #fff;
  border-radius: 20px;
  color: #000;
}
/* line 336, ../sass/screen.scss */
section#content nav#navslider li.button a {
  color: #000;
}
/* line 342, ../sass/screen.scss */
section#content nav#navslider li.buttonred {
  background-color: #bf1e47;
  border-radius: 20px;
}
/* line 345, ../sass/screen.scss */
section#content nav#navslider li.buttonred a {
  color: #fff;
}
/* line 354, ../sass/screen.scss */
section#content #topartiste {
  width: 100%;
  background: #fff;
}
/* line 358, ../sass/screen.scss */
section#content #topartiste .title {
  margin: 10px 25px;
  margin-top: 0;
}
/* line 361, ../sass/screen.scss */
section#content #topartiste .title h2 {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 369, ../sass/screen.scss */
section#content #topartiste .wrapper {
  padding-bottom: 20px;
}
/* line 371, ../sass/screen.scss */
section#content #topartiste .wrapper .artiste {
  padding-top: 30px;
  border: 1px solid #eee;
  width: 180px;
  height: 270px;
  text-align: center;
  margin: auto;
  position: relative;
}
/* line 380, ../sass/screen.scss */
section#content #topartiste .wrapper .artiste > a:before {
  content: '';
  position: absolute;
  top: 25px;
  left: 35px;
  height: 110px;
  width: 110px;
  background-image: url(../images/contour.png);
  background-size: contain;
  background-repeat: no-repeat;
}
/* line 392, ../sass/screen.scss */
section#content #topartiste .wrapper .artiste .artistebtn {
  margin-top: 10px;
}
/* line 395, ../sass/screen.scss */
section#content #topartiste .wrapper .artiste div {
  position: relative;
}
/* line 397, ../sass/screen.scss */
section#content #topartiste .wrapper .artiste div a {
  position: absolute;
  padding-top: 6px;
  bottom: -40px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  font-size: 15px;
  text-align: center;
  color: #293033;
  -webkit-transition: all .3s ease-in;
          transition: all .3s ease-in;
}
/* line 412, ../sass/screen.scss */
section#content #topartiste .wrapper .artiste div a:nth-child(1) {
  left: 20px;
}
/* line 414, ../sass/screen.scss */
section#content #topartiste .wrapper .artiste div a:nth-child(1):hover {
  color: #fff;
  background-color: #293033;
}
/* line 419, ../sass/screen.scss */
section#content #topartiste .wrapper .artiste div a:nth-child(2) {
  background-color: #FFF;
  width: 40px;
  height: 40px;
  left: 70px;
}
/* line 425, ../sass/screen.scss */
section#content #topartiste .wrapper .artiste div a:nth-child(2) .button {
  width: 30px;
  height: 30px;
  top: -2px;
  left: 4px;
  padding-top: 4px;
  background-color: #7a93b5;
  color: #fff;
  border-radius: 50%;
  -webkit-transition: all .3s ease-in;
          transition: all .3s ease-in;
}
/* line 438, ../sass/screen.scss */
section#content #topartiste .wrapper .artiste div a:nth-child(2):hover .button {
  color: #fff;
  padding-top: 7px;
  width: 39px;
  height: 39px;
  padding-top: 10px;
  top: -7px;
  left: 0px;
}
/* line 449, ../sass/screen.scss */
section#content #topartiste .wrapper .artiste div a:nth-child(3) {
  font-size: 13px;
  right: 20px;
}
/* line 452, ../sass/screen.scss */
section#content #topartiste .wrapper .artiste div a:nth-child(3):hover {
  color: #fff;
  background-color: #293033;
}
/* line 461, ../sass/screen.scss */
section#content #topartiste .wrapper span {
  display: inline-block;
  font-size: 12px;
}
/* line 465, ../sass/screen.scss */
section#content #topartiste .wrapper .name {
  display: inline-block;
  margin-top: 18px;
}
/* line 469, ../sass/screen.scss */
section#content #topartiste .wrapper .name span {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
/* line 474, ../sass/screen.scss */
section#content #topartiste .wrapper .name span > span {
  text-transform: uppercase;
}
/* line 482, ../sass/screen.scss */
section#content #sectiongauche {
  margin: 30px;
  background: #fff;
}
/* line 486, ../sass/screen.scss */
section#content #sectiongauche .textgauche {
  margin: 0 30px 0 30px;
  float: left;
  width: 52%;
}
/* line 491, ../sass/screen.scss */
section#content #sectiongauche .textgauche .title {
  margin: 20px 0 15px 0;
}
/* line 494, ../sass/screen.scss */
section#content #sectiongauche .textgauche .title .span {
  float: left;
}
/* line 498, ../sass/screen.scss */
section#content #sectiongauche .textgauche .title .decouvrir {
  color: #fff;
  float: right;
  margin: -30px;
  width: 50%;
  padding: 5px;
  background: #99b8e6;
  border-radius: 35px;
  text-align: center;
  margin: none;
}
/* line 513, ../sass/screen.scss */
section#content #sectiongauche .imagemusique {
  float: right;
  width: 394px;
  height: 292px;
  display: block;
  background: url(../images/img-cat-music.png) center top no-repeat;
  text-decoration: none;
  position: relative;
}
/* line 521, ../sass/screen.scss */
section#content #sectiongauche .imagemusique .cercleinfos i {
  font-size: 15px;
  color: #fff;
  background: #293134;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
/* line 532, ../sass/screen.scss */
section#content #sectiongauche .imagemusique .textinfos {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  background: #000;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20% 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
/* line 547, ../sass/screen.scss */
section#content #sectiongauche .imagemusique:hover .cercleinfos i {
  background: #895993;
  z-index: 1;
}
/* line 551, ../sass/screen.scss */
section#content #sectiongauche .imagemusique:hover .textinfos {
  opacity: 0.7;
}
/* line 556, ../sass/screen.scss */
section#content #sectiongauche .imagedesign {
  float: right;
  width: 394px;
  height: 292px;
  display: block;
  position: relative;
  background: url(../images/img-cat-design.png) center top no-repeat;
}
/* line 563, ../sass/screen.scss */
section#content #sectiongauche .imagedesign .cercleinfos i {
  font-size: 15px;
  color: #fff;
  background: #293134;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
/* line 575, ../sass/screen.scss */
section#content #sectiongauche .imagedesign .textinfos {
  opacity: 0;
  background: #000;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20% 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
/* line 590, ../sass/screen.scss */
section#content #sectiongauche .imagedesign:hover .cercleinfos i {
  background: #895993;
  z-index: 1;
}
/* line 594, ../sass/screen.scss */
section#content #sectiongauche .imagedesign:hover .textinfos {
  opacity: 0.7;
}
/* line 599, ../sass/screen.scss */
section#content #sectiongauche .imagelettres {
  float: right;
  width: 394px;
  height: 292px;
  display: block;
  position: relative;
  background: url(../images/img-cat-lettres.png) center top no-repeat;
}
/* line 607, ../sass/screen.scss */
section#content #sectiongauche .imagelettres .cercleinfos i {
  font-size: 15px;
  color: #fff;
  background: #293134;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
/* line 620, ../sass/screen.scss */
section#content #sectiongauche .imagelettres .textinfos {
  opacity: 0;
  background: #000;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20% 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
/* line 637, ../sass/screen.scss */
section#content #sectiongauche .imagelettres:hover .cercleinfos i {
  background: #895993;
  z-index: 1;
}
/* line 642, ../sass/screen.scss */
section#content #sectiongauche .imagelettres:hover .textinfos {
  opacity: 0.7;
}
/* line 648, ../sass/screen.scss */
section#content #sectiongauche .clear {
  clear: both;
}
/* line 653, ../sass/screen.scss */
section#content #sectiondroite {
  margin: 30px;
  background: #fff;
}
/* line 657, ../sass/screen.scss */
section#content #sectiondroite .textdroite {
  margin: 0 30px 0 30px;
  float: right;
  width: 53%;
}
/* line 662, ../sass/screen.scss */
section#content #sectiondroite .textdroite .title {
  margin: 20px 0 15px 0;
  text-align: right;
}
/* line 666, ../sass/screen.scss */
section#content #sectiondroite .textdroite .title .span {
  float: right;
}
/* line 670, ../sass/screen.scss */
section#content #sectiondroite .textdroite .title .decouvrir {
  color: #fff;
  float: left;
  margin: -30px;
  width: 50%;
  padding: 5px;
  background: #99b8e6;
  border-radius: 35px;
  text-align: center;
  margin: none;
}
/* line 685, ../sass/screen.scss */
section#content #sectiondroite .imagevideo {
  float: left;
  width: 394px;
  height: 292px;
  display: block;
  position: relative;
  background: url(../images/img-cat-video.png) center top no-repeat;
}
/* line 693, ../sass/screen.scss */
section#content #sectiondroite .imagevideo .cercleinfos i {
  font-size: 15px;
  color: #fff;
  background: #293134;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
/* line 706, ../sass/screen.scss */
section#content #sectiondroite .imagevideo .textinfos {
  opacity: 0;
  background: #000;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  padding: 20% 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
/* line 724, ../sass/screen.scss */
section#content #sectiondroite .imagevideo:hover .cercleinfos i {
  background: #895993;
  z-index: 1;
}
/* line 729, ../sass/screen.scss */
section#content #sectiondroite .imagevideo:hover .textinfos {
  opacity: 0.7;
}
/* line 735, ../sass/screen.scss */
section#content #sectiondroite .imagehappening {
  float: left;
  width: 394px;
  height: 292px;
  display: block;
  position: relative;
  background: url(../images/img-cat-happening.png) center top no-repeat;
}
/* line 743, ../sass/screen.scss */
section#content #sectiondroite .imagehappening .cercleinfos i {
  font-size: 15px;
  color: #fff;
  background: #293134;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
/* line 756, ../sass/screen.scss */
section#content #sectiondroite .imagehappening .textinfos {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  background: #000;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  padding: 20% 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
/* line 773, ../sass/screen.scss */
section#content #sectiondroite .imagehappening:hover .cercleinfos i {
  background: #895993;
  z-index: 1;
}
/* line 778, ../sass/screen.scss */
section#content #sectiondroite .imagehappening:hover .textinfos {
  opacity: 0.7;
}
/* line 784, ../sass/screen.scss */
section#content #sectiondroite .clear {
  clear: both;
}
/* line 789, ../sass/screen.scss */
section#content .footer {
  padding: 30px;
  border-top: 1px solid #c4c4c4;
  overflow: hidden;
  line-height: 30px;
}
/* line 794, ../sass/screen.scss */
section#content .footer a {
  color: #000 !important;
}
/* line 798, ../sass/screen.scss */
section#content .footer p {
  background: transparent;
  margin: 0;
}
/* line 802, ../sass/screen.scss */
section#content .footer .info {
  float: left;
}
/* line 804, ../sass/screen.scss */
section#content .footer .info ul li {
  float: left;
  margin-right: 10px;
  font-weight: bold;
}
/* line 809, ../sass/screen.scss */
section#content .footer .info ol li {
  float: left;
  margin-right: 10px;
  opacity: 0.6;
}
/* line 815, ../sass/screen.scss */
section#content .footer .copyright {
  float: right;
  text-align: right;
}
/* line 818, ../sass/screen.scss */
section#content .footer .copyright p {
  font-weight: bold;
}
/* line 821, ../sass/screen.scss */
section#content .footer .copyright span {
  opacity: 0.6;
}
