/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;


*/
@font-face {
  font-family: "pictowezaart";
  src: url("../fonts/wezaart-font.eot");
  src: url("../fonts/wezaart-font.eot?#iefix") format("eot"), url("../fonts/wezaart-font.woff") format("woff"), url("../fonts/wezaart-font.ttf") format("truetype"), url("../fonts/wezaart-font.svg") format("svg");
}
/* line 19, ../sass/screen.scss */
*:focus {
  outline: 0;
}

/* line 22, ../sass/screen.scss */
#identification {
  background-color: #fff;
  color: black;
  color: black;
  margin: auto;
  width: 40%;
  border-radius: 2px;
  padding: 50px;
  text-align: left;
}
/* line 32, ../sass/screen.scss */
#identification h1 {
  text-align: left;
  font-size: 20px;
}
/* line 37, ../sass/screen.scss */
#identification input[type=password], #identification input[type=email] {
  width: 100%;
  height: 35px;
  padding-left: 11px;
  font-size: 17px;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}
/* line 47, ../sass/screen.scss */
#identification #logintwitter {
  background-color: #55acef;
  color: white;
  margin: auto;
  width: 100%;
  text-align: right;
  border-radius: 2px;
  padding: 10px 20px;
}
/* line 57, ../sass/screen.scss */
#identification #logotwitter {
  background-image: url(../images/logintwitter.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 18px;
  display: inline-block;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
}
/* line 67, ../sass/screen.scss */
#identification #logotwitter a {
  color: #fff;
}
/* line 72, ../sass/screen.scss */
#identification #loginfacebook {
  background-color: #3b5999;
  color: white;
  margin: auto;
  width: 100%;
  text-align: right;
  border-radius: 2px;
  padding: 10px 20px;
}
/* line 82, ../sass/screen.scss */
#identification #logofacebook {
  background-image: url(../images/loginfb.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 18px;
  display: inline-block;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
}
/* line 93, ../sass/screen.scss */
#identification #souvenir {
  width: 100%;
  text-align: right;
}
/* line 98, ../sass/screen.scss */
#identification #souvleft {
  float: left;
  width: 150px;
}

/* line 104, ../sass/screen.scss */
.buttonlogin {
  background-color: #283033;
  border-radius: 20px;
  color: #fff;
  border: 0;
  padding: 5px 10px;
  text-align: center;
  width: 150px;
  margin-top: 20px;
}

/* line 115, ../sass/screen.scss */
.userconnect {
  text-align: center;
  width: 100%;
  padding: 0 20px;
}
/* line 119, ../sass/screen.scss */
.userconnect > a:nth-child(1) {
  position: relative;
}
/* line 121, ../sass/screen.scss */
.userconnect > a:nth-child(1):before {
  content: '';
  position: absolute;
  top: -45px;
  height: 110px;
  width: 110px;
  background-image: url(../images/img-intro-artiste.png);
  background-size: contain;
  background-repeat: no-repeat;
}
/* line 132, ../sass/screen.scss */
.userconnect .name {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  margin-top: 18px;
  font-weight: bold;
}
/* line 139, ../sass/screen.scss */
.userconnect .name span span {
  text-transform: uppercase;
}
/* line 144, ../sass/screen.scss */
.userconnect .artistebtn {
  position: relative;
  margin-bottom: 70px;
}
/* line 147, ../sass/screen.scss */
.userconnect .artistebtn a {
  position: absolute;
  padding-top: 6px;
  bottom: -40px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color: #293033;
  -webkit-transition: all .3s ease-in;
          transition: all .3s ease-in;
}
/* line 163, ../sass/screen.scss */
.userconnect .artistebtn a:nth-child(1) {
  left: 20px;
}
/* line 165, ../sass/screen.scss */
.userconnect .artistebtn a:nth-child(1):hover {
  color: #fff;
  background-color: #293033;
}
/* line 170, ../sass/screen.scss */
.userconnect .artistebtn a:nth-child(2) {
  background-color: #FFF;
  width: 40px;
  height: 40px;
  left: 70px;
}
/* line 176, ../sass/screen.scss */
.userconnect .artistebtn a:nth-child(2) .button {
  position: relative;
  width: 30px;
  height: 30px;
  top: -2px;
  left: 4px;
  padding-top: 4px;
  background-color: #c6c6c6;
  color: #fff;
  border-radius: 50%;
  -webkit-transition: all .3s ease-in;
          transition: all .3s ease-in;
  outline: 0;
}
/* line 188, ../sass/screen.scss */
.userconnect .artistebtn a:nth-child(2) .button:active {
  outline: 0;
}
/* line 193, ../sass/screen.scss */
.userconnect .artistebtn a:nth-child(2):hover .button {
  color: #fff;
  padding-top: 7px;
  width: 39px;
  height: 39px;
  padding-top: 10px;
  top: -7px;
  left: 0px;
}
/* line 204, ../sass/screen.scss */
.userconnect .artistebtn a:nth-child(3) {
  right: 20px;
  line-height: 24px;
}
/* line 207, ../sass/screen.scss */
.userconnect .artistebtn a:nth-child(3):hover {
  color: #fff;
  background-color: #293033;
}
/* line 218, ../sass/screen.scss */
.userconnect .moneys .euros {
  text-decoration: none;
  background-color: #171a1c;
  margin: auto;
  color: white;
  border-radius: 50px;
  height: 30px;
  width: 125px;
}
/* line 227, ../sass/screen.scss */
.userconnect .moneys a {
  text-decoration: none;
}
/* line 230, ../sass/screen.scss */
.userconnect .moneys .iconesmoneys {
  padding-top: 5px;
  float: left;
  margin-left: 20px;
}
/* line 235, ../sass/screen.scss */
.userconnect .moneys .chiffres {
  padding-top: 4px;
}
/* line 238, ../sass/screen.scss */
.userconnect .moneys img {
  padding-right: 5px;
}
/* line 244, ../sass/screen.scss */
.userconnect .userbtn {
  width: 100%;
  padding: 10px;
}
/* line 248, ../sass/screen.scss */
.userconnect .userbtn .userbutton {
  border-radius: 50%;
  background-color: white;
  width: 20px;
  float: left;
  margin-left: 20px;
}
/* line 256, ../sass/screen.scss */
.userconnect .userbtn .userbutton2 {
  border-radius: 50%;
  background-color: white;
  width: 40px;
  height: 40px;
  float: left;
  margin-left: 20px;
}

/* line 267, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 285, ../sass/screen.scss */
.nopadding {
  padding: 0 !important;
}

/* line 288, ../sass/screen.scss */
.nomargin {
  margin: 0 !important;
}

/* line 291, ../sass/screen.scss */
.fullwidth {
  width: 100% !important;
}

/* line 294, ../sass/screen.scss */
.notransition {
  -webkit-transition: none !important;
          transition: none !important;
}

/* line 297, ../sass/screen.scss */
.hide {
  display: none !important;
}

/* line 300, ../sass/screen.scss */
input {
  font-family: "Raleway", sans-serif !important;
}

/* line 303, ../sass/screen.scss */
html {
  height: 100%;
}

/* line 306, ../sass/screen.scss */
body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  font-family: "Raleway", sans-serif !important;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*    Nav Bar*/
/* line 323, ../sass/screen.scss */
header#head {
  background-color: #283032;
  height: 100%;
  display: block !important;
  float: left;
  height: 100%;
  color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
}
/* line 335, ../sass/screen.scss */
header#head #logo {
  margin: 27px auto;
}
/* line 337, ../sass/screen.scss */
header#head #logo img {
  width: 150px;
  margin: 0 auto;
  display: block;
}
/* line 343, ../sass/screen.scss */
header#head #nav {
  width: 100%;
  margin: 0 auto;
}
/* line 346, ../sass/screen.scss */
header#head #nav li {
  color: #FFF;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
/* line 350, ../sass/screen.scss */
header#head #nav li a {
  padding: 8px 0 8px 42px;
  text-decoration: none;
  color: #fff;
  display: inherit;
  width: 100%;
}
/* line 356, ../sass/screen.scss */
header#head #nav li a i {
  margin-right: 20px;
  vertical-align: middle;
  font-size: 25px;
}
/* line 364, ../sass/screen.scss */
header#head #nav li:hover {
  border-left: 5px solid #c6c6c6;
  background-color: #171a1c;
}
/* line 367, ../sass/screen.scss */
header#head #nav li:hover ul {
  height: 150px;
}
/* line 372, ../sass/screen.scss */
header#head #nav li:visited {
  color: #fff;
}
/* line 375, ../sass/screen.scss */
header#head #nav li ul {
  height: 0;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
/* line 381, ../sass/screen.scss */
header#head #nav li ul li {
  opacity: 0.5;
}
/* line 383, ../sass/screen.scss */
header#head #nav li ul li a {
  padding-left: 70px;
}
/* line 386, ../sass/screen.scss */
header#head #nav li ul li:hover {
  background-color: transparent;
  border-left: 5px solid #fff;
  opacity: 1;
}
/* line 399, ../sass/screen.scss */
header#head #login {
  position: absolute;
  bottom: 30px;
}
/* line 402, ../sass/screen.scss */
header#head #login ul {
  text-align: center;
}
/* line 404, ../sass/screen.scss */
header#head #login ul li {
  text-transform: uppercase;
  margin-left: 10px;
  color: #fff;
  padding: 6px 20px;
  text-align: center;
  width: 160px;
  margin: 5px 0;
  display: inline-block;
}
/* line 414, ../sass/screen.scss */
header#head #login ul li a {
  color: #FFF;
}
/* line 417, ../sass/screen.scss */
header#head #login ul li.button {
  background-color: #fff;
  border-radius: 20px;
  color: #000;
}
/* line 425, ../sass/screen.scss */
header#head #barres {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
/* line 430, ../sass/screen.scss */
header#head #barres #rose {
  height: 5px;
  width: 25%;
  background-color: #d81a60;
  float: left;
}
/* line 436, ../sass/screen.scss */
header#head #barres #orange {
  height: 5px;
  width: 25%;
  background-color: #fb8c00;
  float: left;
}
/* line 442, ../sass/screen.scss */
header#head #barres #jaune {
  height: 5px;
  width: 25%;
  background-color: #fed835;
  float: left;
}
/* line 448, ../sass/screen.scss */
header#head #barres #vert {
  height: 5px;
  width: 25%;
  background-color: #a3cc28;
  float: left;
}

/* line 457, ../sass/screen.scss */
#navhidebtn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  left: 10px;
  top: 30px;
  padding: 8px 7px;
  color: #fff;
  opacity: 0.6;
}

/*    Home Page*/
/* line 470, ../sass/screen.scss */
.ui-widget-content {
  background: transparent !important;
  border: 0 !important;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff !important;
  opacity: 0.8;
  font-weight: 100;
  position: absolute !important;
  top: 66px !important;
  left: 305px !important;
  background-color: #000 !important;
  width: 135px !important;
  border-radius: 0 0 3px 3px;
}

/* line 485, ../sass/screen.scss */
.ui-widget {
  font-family: "Raleway", sans-serif !important;
}

/* line 488, ../sass/screen.scss */
.ui-state-focus, .ui-widget-content .ui-state-focus {
  background: transparent !important;
  color: #fff !important;
  font-weight: 100 !important;
  border-color: #fff !important;
}

/* line 494, ../sass/screen.scss */
section#content {
  background: #fff;
  overflow: visible;
  -webkit-transition: all .6s ease-in-out;
          transition: all .6s ease-in-out;
  /*    Profile Page*/
  /*   Footer*/
}
@media screen and (max-width: 768px) {
  /* line 494, ../sass/screen.scss */
  section#content {
    margin-left: 50%;
  }
}
@media screen and (min-width: 970px) {
  /* line 494, ../sass/screen.scss */
  section#content {
    margin-left: 16.66666667%;
  }
}
/* line 505, ../sass/screen.scss */
section#content.navhide {
  margin-left: 0 !important;
}
/* line 508, ../sass/screen.scss */
section#content .presentation {
  background-color: #ccc;
}
/* line 513, ../sass/screen.scss */
section#content #owl-slide .item img {
  display: block;
  width: 100%;
  height: auto;
}
/* line 522, ../sass/screen.scss */
section#content #owl-artistes .artiste {
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  border-radius: 3px;
  text-align: center;
}
/* line 530, ../sass/screen.scss */
section#content #owl-artistes .artiste img {
  border-radius: 50%;
  width: 105px;
}
/* line 534, ../sass/screen.scss */
section#content #owl-artistes .artiste span {
  color: #333;
}
/* line 541, ../sass/screen.scss */
section#content .owl-theme .owl-controls {
  margin-top: -40px;
  position: absolute;
  right: 15px;
  top: -10px;
}
/* line 546, ../sass/screen.scss */
section#content .owl-theme .owl-controls .owl-prev {
  background: url(../images/arrow-prev-noir.png) no-repeat 10px center;
  font-size: 0;
  padding: 14px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  float: left;
}
/* line 553, ../sass/screen.scss */
section#content .owl-theme .owl-controls .owl-prev:hover {
  background: url(../images/arrow-prev-blanc.png) #283032 no-repeat 10px center;
}
/* line 558, ../sass/screen.scss */
section#content .owl-theme .owl-controls .owl-next {
  background: url(../images/arrow-next-noir.png) no-repeat 10px center;
  font-size: 0;
  padding: 14px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  float: left;
}
/* line 565, ../sass/screen.scss */
section#content .owl-theme .owl-controls .owl-next:hover {
  background: url(../images/arrow-next-blanc.png) #283032 no-repeat 10px center;
}
/* line 573, ../sass/screen.scss */
section#content .owl-theme .owl-controls .owl-page span {
  opacity: 1;
}
/* line 576, ../sass/screen.scss */
section#content .owl-theme .owl-controls .owl-page.active span {
  background-color: #fff;
  border: 4px solid #aaa;
}
/* line 585, ../sass/screen.scss */
section#content #searchbar {
  position: absolute;
  top: 35px;
  left: 60px;
  border: 0;
  background-color: transparent;
  font-weight: 100;
}
/* line 278, ../sass/screen.scss */
section#content #searchbar ::-webkit-input-placeholder {
  color: white;
  font-weight: 100;
}
/* line 279, ../sass/screen.scss */
section#content #searchbar :-moz-placeholder {
  color: white;
  font-weight: 100;
}
/* line 280, ../sass/screen.scss */
section#content #searchbar ::-moz-placeholder {
  color: white;
  font-weight: 100;
}
/* line 281, ../sass/screen.scss */
section#content #searchbar :-ms-input-placeholder {
  color: white;
  font-weight: 100;
}
/* line 597, ../sass/screen.scss */
section#content #searchbar:after {
  content: "";
  border-bottom: 1px solid #fff;
  width: 135px;
  height: 1px;
  position: absolute;
  top: 30px;
  left: 5px;
  opacity: 0.5;
}
/* line 608, ../sass/screen.scss */
section#content #searchbar input {
  border: 0;
  background-color: transparent;
  opacity: 0.8;
  width: 120px;
  color: #FFF;
  text-transform: capitalize;
}
/* line 616, ../sass/screen.scss */
section#content #searchbar input:focus {
  outline: 0;
}
/* line 620, ../sass/screen.scss */
section#content #searchbar a {
  color: #fff;
  opacity: 0.5;
}
/* line 626, ../sass/screen.scss */
section#content nav#navtop {
  position: absolute;
  top: 30px;
  right: 35px;
}
/* line 630, ../sass/screen.scss */
section#content nav#navtop li {
  float: left;
  text-transform: uppercase;
  margin-left: 10px;
  color: #fff;
  padding: 6px 20px;
}
/* line 637, ../sass/screen.scss */
section#content nav#navtop li a {
  color: #FFF;
}
/* line 640, ../sass/screen.scss */
section#content nav#navtop li.button {
  background-color: #fff;
  border-radius: 20px;
  color: #000;
}
/* line 645, ../sass/screen.scss */
section#content nav#navtop li.button a {
  color: #000;
}
/* line 651, ../sass/screen.scss */
section#content nav#navtop li.buttonred {
  background-color: #d81b60;
  border-radius: 20px;
}
/* line 654, ../sass/screen.scss */
section#content nav#navtop li.buttonred a {
  color: #fff;
}
/* line 663, ../sass/screen.scss */
section#content > #topartiste {
  width: 100%;
  background: #fff;
}
/* line 667, ../sass/screen.scss */
section#content > #topartiste .title {
  margin: 10px 25px;
  margin-top: 0;
}
/* line 670, ../sass/screen.scss */
section#content > #topartiste .title h2 {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 678, ../sass/screen.scss */
section#content > #topartiste .wrapper {
  padding-bottom: 20px;
}
/* line 680, ../sass/screen.scss */
section#content > #topartiste .wrapper .artiste {
  padding-top: 30px;
  border: 1px solid #eee;
  width: 180px;
  height: 270px;
  text-align: center;
  margin: auto;
  position: relative;
}
/* line 690, ../sass/screen.scss */
section#content > #topartiste .wrapper .artiste > a:nth-child(1):before {
  content: '';
  position: absolute;
  top: 28px;
  left: 31px;
  height: 110px;
  width: 110px;
  background-image: url(../images/img-intro-artiste.png);
  background-size: contain;
  background-repeat: no-repeat;
}
/* line 703, ../sass/screen.scss */
section#content > #topartiste .wrapper .artiste .artistebtn {
  margin-top: 10px;
}
/* line 706, ../sass/screen.scss */
section#content > #topartiste .wrapper .artiste div {
  position: relative;
}
/* line 708, ../sass/screen.scss */
section#content > #topartiste .wrapper .artiste div a {
  position: absolute;
  padding-top: 6px;
  bottom: -40px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  font-size: 15px;
  text-align: center;
  color: #293033;
  -webkit-transition: all .3s ease-in;
          transition: all .3s ease-in;
  text-decoration: none;
}
/* line 723, ../sass/screen.scss */
section#content > #topartiste .wrapper .artiste div a:nth-child(1) {
  left: 20px;
  line-height: 25px;
}
/* line 727, ../sass/screen.scss */
section#content > #topartiste .wrapper .artiste div a:nth-child(1):hover {
  color: #fff;
  background-color: #293033;
}
/* line 732, ../sass/screen.scss */
section#content > #topartiste .wrapper .artiste div a:nth-child(2) {
  background-color: #FFF;
  width: 40px;
  height: 40px;
  left: 70px;
  line-height: 26px;
}
/* line 740, ../sass/screen.scss */
section#content > #topartiste .wrapper .artiste div a:nth-child(2) .button {
  width: 30px;
  height: 30px;
  top: -2px;
  left: 4px;
  padding-top: 4px;
  background-color: #c6c6c6;
  color: #fff;
  border-radius: 50%;
  -webkit-transition: all .3s ease-in;
          transition: all .3s ease-in;
}
/* line 753, ../sass/screen.scss */
section#content > #topartiste .wrapper .artiste div a:nth-child(2):hover .button {
  color: #fff;
  padding-top: 7px;
  width: 39px;
  height: 39px;
  padding-top: 10px;
  top: -7px;
  left: 0px;
}
/* line 764, ../sass/screen.scss */
section#content > #topartiste .wrapper .artiste div a:nth-child(3) {
  font-size: 13px;
  right: 20px;
  line-height: 22px;
}
/* line 768, ../sass/screen.scss */
section#content > #topartiste .wrapper .artiste div a:nth-child(3):hover {
  color: #fff;
  background-color: #293033;
}
/* line 777, ../sass/screen.scss */
section#content > #topartiste .wrapper span {
  display: inline-block;
  font-size: 12px;
}
/* line 781, ../sass/screen.scss */
section#content > #topartiste .wrapper .name {
  display: inline-block;
  margin-top: 18px;
  width: 100%;
}
/* line 785, ../sass/screen.scss */
section#content > #topartiste .wrapper .name span {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  text-transform: capitalize;
}
/* line 792, ../sass/screen.scss */
section#content > #topartiste .wrapper .name .lastname {
  text-transform: uppercase;
  margin-left: 5PX;
}
/* line 801, ../sass/screen.scss */
section#content #sectiongauche {
  margin: 30px;
  background: #fff;
}
/* line 805, ../sass/screen.scss */
section#content #sectiongauche .textgauche {
  margin: 0 30px 0 30px;
  float: left;
  width: 52%;
}
/* line 810, ../sass/screen.scss */
section#content #sectiongauche .textgauche .title {
  margin: 20px 0 15px 0;
}
/* line 812, ../sass/screen.scss */
section#content #sectiongauche .textgauche .title strong {
  text-transform: uppercase;
}
/* line 815, ../sass/screen.scss */
section#content #sectiongauche .textgauche .title .span {
  float: left;
}
/* line 819, ../sass/screen.scss */
section#content #sectiongauche .textgauche .title .decouvrir {
  color: #fff;
  float: right;
  margin: -30px;
  width: 50%;
  padding: 5px;
  background: #c6c6c6;
  border-radius: 35px;
  text-align: center;
  margin: none;
}
/* line 834, ../sass/screen.scss */
section#content #sectiongauche .imagemusique {
  float: right;
  width: 394px;
  height: 292px;
  display: block;
  background: url(../images/img-cat-perfo.jpg) center top no-repeat;
  text-decoration: none;
  position: relative;
  background-size: cover;
}
/* line 843, ../sass/screen.scss */
section#content #sectiongauche .imagemusique .cercleinfos i {
  font-size: 15px;
  color: #fff;
  background: #293134;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  height: 27px;
  width: 27px;
}
/* line 856, ../sass/screen.scss */
section#content #sectiongauche .imagemusique .textinfos {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  background: #000;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20% 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
/* line 871, ../sass/screen.scss */
section#content #sectiongauche .imagemusique:hover .cercleinfos i {
  background: #895993;
  z-index: 1;
}
/* line 875, ../sass/screen.scss */
section#content #sectiongauche .imagemusique:hover .textinfos {
  opacity: 0.7;
}
/* line 880, ../sass/screen.scss */
section#content #sectiongauche .imagedesign {
  float: right;
  width: 394px;
  height: 292px;
  display: block;
  position: relative;
  background: url(../images/img-cat-design.jpg) center top no-repeat;
  background-size: cover;
}
/* line 888, ../sass/screen.scss */
section#content #sectiongauche .imagedesign .cercleinfos i {
  font-size: 15px;
  color: #fff;
  background: #293134;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  height: 27px;
  width: 27px;
}
/* line 901, ../sass/screen.scss */
section#content #sectiongauche .imagedesign .textinfos {
  opacity: 0;
  background: #000;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20% 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
/* line 916, ../sass/screen.scss */
section#content #sectiongauche .imagedesign:hover .cercleinfos i {
  background: #895993;
  z-index: 1;
}
/* line 920, ../sass/screen.scss */
section#content #sectiongauche .imagedesign:hover .textinfos {
  opacity: 0.7;
}
/* line 925, ../sass/screen.scss */
section#content #sectiongauche .imagelettres {
  float: right;
  width: 394px;
  height: 292px;
  display: block;
  position: relative;
  background: url(../images/img-cat-lettres.jpg) center top no-repeat;
  background-size: cover;
}
/* line 934, ../sass/screen.scss */
section#content #sectiongauche .imagelettres .cercleinfos i {
  font-size: 15px;
  color: #fff;
  background: #293134;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
/* line 947, ../sass/screen.scss */
section#content #sectiongauche .imagelettres .textinfos {
  opacity: 0;
  background: #000;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20% 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
/* line 964, ../sass/screen.scss */
section#content #sectiongauche .imagelettres:hover .cercleinfos i {
  background: #895993;
  z-index: 1;
}
/* line 969, ../sass/screen.scss */
section#content #sectiongauche .imagelettres:hover .textinfos {
  opacity: 0.7;
}
/* line 975, ../sass/screen.scss */
section#content #sectiongauche .clear {
  clear: both;
}
/* line 980, ../sass/screen.scss */
section#content #sectiondroite {
  margin: 30px;
  background: #fff;
}
/* line 984, ../sass/screen.scss */
section#content #sectiondroite .textdroite {
  margin: 0 30px 0 30px;
  float: right;
  width: 53%;
}
/* line 989, ../sass/screen.scss */
section#content #sectiondroite .textdroite .title {
  margin: 20px 0 15px 0;
  text-align: right;
}
/* line 993, ../sass/screen.scss */
section#content #sectiondroite .textdroite .title .span {
  float: right;
}
/* line 997, ../sass/screen.scss */
section#content #sectiondroite .textdroite .title .decouvrir {
  color: #fff;
  float: left;
  margin: -30px;
  width: 50%;
  padding: 5px;
  background: #c6c6c6;
  border-radius: 35px;
  text-align: center;
  margin: none;
}
/* line 1012, ../sass/screen.scss */
section#content #sectiondroite .imagevideo {
  float: left;
  width: 394px;
  height: 292px;
  display: block;
  position: relative;
  background: url(../images/img-cat-video.jpg) center top no-repeat;
}
/* line 1020, ../sass/screen.scss */
section#content #sectiondroite .imagevideo .cercleinfos i {
  font-size: 15px;
  color: #fff;
  background: #293134;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  height: 27px;
  width: 27px;
}
/* line 1034, ../sass/screen.scss */
section#content #sectiondroite .imagevideo .textinfos {
  opacity: 0;
  background: #000;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  padding: 20% 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
/* line 1052, ../sass/screen.scss */
section#content #sectiondroite .imagevideo:hover .cercleinfos i {
  background: #895993;
  z-index: 1;
}
/* line 1057, ../sass/screen.scss */
section#content #sectiondroite .imagevideo:hover .textinfos {
  opacity: 0.7;
}
/* line 1063, ../sass/screen.scss */
section#content #sectiondroite .imagehappening {
  float: left;
  width: 394px;
  height: 292px;
  display: block;
  position: relative;
  background: url(../images/img-cat-happening.jpg) center top no-repeat;
  background-size: cover;
}
/* line 1072, ../sass/screen.scss */
section#content #sectiondroite .imagehappening .cercleinfos i {
  font-size: 15px;
  color: #fff;
  background: #293134;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
/* line 1085, ../sass/screen.scss */
section#content #sectiondroite .imagehappening .textinfos {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  background: #000;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  padding: 20% 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
/* line 1102, ../sass/screen.scss */
section#content #sectiondroite .imagehappening:hover .cercleinfos i {
  background: #895993;
  z-index: 1;
}
/* line 1107, ../sass/screen.scss */
section#content #sectiondroite .imagehappening:hover .textinfos {
  opacity: 0.7;
}
/* line 1113, ../sass/screen.scss */
section#content #sectiondroite .clear {
  clear: both;
}
/* line 1118, ../sass/screen.scss */
section#content #profilhead {
  display: block;
  width: 100%;
  z-index: 1;
  height: 180px;
  background-image: url(http://lorempixel.com/1100/200);
  background-size: cover;
  position: relative;
}
/* line 1126, ../sass/screen.scss */
section#content #profilhead .title {
  position: absolute;
  top: 70px;
  left: 20px;
}
/* line 1130, ../sass/screen.scss */
section#content #profilhead .title h1 {
  text-transform: uppercase;
  z-index: 1;
  font-weight: bold;
  color: #FFF;
  float: left;
}
/* line 1137, ../sass/screen.scss */
section#content #profilhead .title h2 {
  text-transform: uppercase;
  z-index: 1;
  font-weight: 100;
  color: #FFF;
  float: left;
  margin-top: 26px;
  margin-left: 10px;
}
/* line 1147, ../sass/screen.scss */
section#content #profilhead #filter {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(41, 48, 51, 0.5);
  padding: 5px 20px;
}
/* line 1153, ../sass/screen.scss */
section#content #profilhead #filter * {
  float: left;
  display: inline-block;
}
/* line 1157, ../sass/screen.scss */
section#content #profilhead #filter button {
  background: none;
  border: 0;
  color: #FFF;
  opacity: 0.5;
}
/* line 1162, ../sass/screen.scss */
section#content #profilhead #filter button.active {
  opacity: 1;
}
/* line 1166, ../sass/screen.scss */
section#content #profilhead #filter p {
  color: #fff;
  margin: 0 30px;
  line-height: 22px;
}
/* line 1172, ../sass/screen.scss */
section#content #wezuploadedwrap {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 1177, ../sass/screen.scss */
section#content #wezuploadedwrap #Container .mix {
  display: none;
}
/* line 1180, ../sass/screen.scss */
section#content #wezuploadedwrap #Container .wezuploaded {
  height: 220px;
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
}
/* line 1187, ../sass/screen.scss */
section#content #wezuploadedwrap #Container .wezuploaded a {
  border-radius: 3px;
  display: block;
  width: 100%;
  height: 100%;
  color: #FFF;
  background-size: cover;
  background-position: center;
  position: relative;
}
/* line 1197, ../sass/screen.scss */
section#content #wezuploadedwrap #Container .wezuploaded a:hover span {
  opacity: 1;
}
/* line 1201, ../sass/screen.scss */
section#content #wezuploadedwrap #Container .wezuploaded a span {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 5px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  /* IE6-9 */
}
/* line 1216, ../sass/screen.scss */
section#content #rightcolumn {
  padding: 205px 10px 10px;
  background-color: #ccc;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
}
/* line 1224, ../sass/screen.scss */
section#content #rightcolumn img {
  margin: 5px auto;
  width: 150px;
  display: block;
}
/* line 1230, ../sass/screen.scss */
section#content #rightcolumn #partenaire img {
  margin: 5px auto;
  width: 150px;
  display: block;
}
/* line 1236, ../sass/screen.scss */
section#content #rightcolumn #topartiste, section#content #rightcolumn #topcrea {
  display: inline-block;
}
/* line 1238, ../sass/screen.scss */
section#content #rightcolumn #topartiste h3, section#content #rightcolumn #topcrea h3 {
  text-transform: uppercase;
}
/* line 1241, ../sass/screen.scss */
section#content #rightcolumn #topartiste .artiste, section#content #rightcolumn #topcrea .artiste {
  width: 100%;
  display: block;
  float: left;
  padding: 5px 0;
}
/* line 1246, ../sass/screen.scss */
section#content #rightcolumn #topartiste .artiste a, section#content #rightcolumn #topcrea .artiste a {
  color: #293033;
  text-decoration: none;
  font-size: 14px;
}
/* line 1250, ../sass/screen.scss */
section#content #rightcolumn #topartiste .artiste a img, section#content #rightcolumn #topcrea .artiste a img {
  width: 50px;
  border-radius: 50%;
  display: block;
  float: left;
}
/* line 1256, ../sass/screen.scss */
section#content #rightcolumn #topartiste .artiste a .lastname, section#content #rightcolumn #topcrea .artiste a .lastname {
  margin-left: 5px;
}
/* line 1259, ../sass/screen.scss */
section#content #rightcolumn #topartiste .artiste a span, section#content #rightcolumn #topcrea .artiste a span {
  float: left;
}
/* line 1262, ../sass/screen.scss */
section#content #rightcolumn #topartiste .artiste a i, section#content #rightcolumn #topcrea .artiste a i {
  float: left;
  line-height: 2;
  margin-right: 5px;
}
/* line 1267, ../sass/screen.scss */
section#content #rightcolumn #topartiste .artiste a .info, section#content #rightcolumn #topcrea .artiste a .info {
  float: left;
  margin: 10px 5px;
}
/* line 1270, ../sass/screen.scss */
section#content #rightcolumn #topartiste .artiste a .info > div, section#content #rightcolumn #topcrea .artiste a .info > div {
  float: left;
  clear: left;
}
/* line 1281, ../sass/screen.scss */
section#content .footer {
  background-color: #ccc;
  padding: 30px;
  border-top: 1px solid #c4c4c4;
  overflow: hidden;
  line-height: 30px;
}
/* line 1287, ../sass/screen.scss */
section#content .footer a {
  color: #000 !important;
}
/* line 1291, ../sass/screen.scss */
section#content .footer p {
  background: transparent;
  margin: 0;
}
/* line 1295, ../sass/screen.scss */
section#content .footer .info {
  float: left;
}
/* line 1297, ../sass/screen.scss */
section#content .footer .info ul li {
  float: left;
  margin-right: 10px;
  font-weight: bold;
}
/* line 1302, ../sass/screen.scss */
section#content .footer .info ol li {
  float: left;
  margin-right: 10px;
  opacity: 0.6;
}
/* line 1308, ../sass/screen.scss */
section#content .footer .copyright {
  float: right;
  text-align: right;
}
/* line 1311, ../sass/screen.scss */
section#content .footer .copyright p {
  font-weight: bold;
}
/* line 1314, ../sass/screen.scss */
section#content .footer .copyright span {
  opacity: 0.6;
}
