/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;


*/
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 27, ../sass/screen.scss */
.nopadding {
  padding: 0 !important;
}

/* line 30, ../sass/screen.scss */
.nomargin {
  margin: 0 !important;
}

/* line 33, ../sass/screen.scss */
.fullwidth {
  width: 100% !important;
}

/* line 36, ../sass/screen.scss */
.notransition {
  -webkit-transition: none !important;
          transition: none !important;
}

/* line 39, ../sass/screen.scss */
.hide {
  display: none !important;
}

/* line 42, ../sass/screen.scss */
input {
  font-family: "Raleway", sans-serif !important;
}

/* line 45, ../sass/screen.scss */
html {
  height: 100%;
}

/* line 48, ../sass/screen.scss */
body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  font-family: "Raleway", sans-serif !important;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*    Nav Bar*/
/* line 65, ../sass/screen.scss */
header#head {
  background-color: #283032;
  height: 100%;
  display: block !important;
  float: left;
  height: 100%;
  color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
}
/* line 77, ../sass/screen.scss */
header#head #logo {
  margin: 27px auto;
}
/* line 79, ../sass/screen.scss */
header#head #logo img {
  width: 150px;
  margin: 0 auto;
  display: block;
}
/* line 85, ../sass/screen.scss */
header#head #nav {
  width: 100%;
  margin: 0 auto;
}
/* line 88, ../sass/screen.scss */
header#head #nav li {
  color: #FFF;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
/* line 92, ../sass/screen.scss */
header#head #nav li a {
  padding: 14px 30px;
  text-decoration: none;
  color: #fff;
  display: inherit;
  width: 100%;
}
/* line 98, ../sass/screen.scss */
header#head #nav li a i {
  margin-right: 20px;
}
/* line 104, ../sass/screen.scss */
header#head #nav li:hover {
  border-left: 5px solid #c6c6c6;
  background-color: #171a1c;
}
/* line 107, ../sass/screen.scss */
header#head #nav li:hover ul {
  height: 190px;
}
/* line 112, ../sass/screen.scss */
header#head #nav li:visited {
  color: #fff;
}
/* line 115, ../sass/screen.scss */
header#head #nav li ul {
  height: 0;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
/* line 121, ../sass/screen.scss */
header#head #nav li ul li {
  opacity: 0.5;
}
/* line 123, ../sass/screen.scss */
header#head #nav li ul li a {
  padding-left: 70px;
}
/* line 126, ../sass/screen.scss */
header#head #nav li ul li:hover {
  background-color: transparent;
  border-left: 5px solid #fff;
  opacity: 1;
}
/* line 139, ../sass/screen.scss */
header#head #login {
  position: absolute;
  bottom: 30px;
}
/* line 142, ../sass/screen.scss */
header#head #login ul {
  text-align: center;
}
/* line 144, ../sass/screen.scss */
header#head #login ul li {
  text-transform: uppercase;
  margin-left: 10px;
  color: #fff;
  padding: 6px 20px;
  text-align: center;
  width: 160px;
  margin: 5px 0;
  display: inline-block;
}
/* line 154, ../sass/screen.scss */
header#head #login ul li a {
  color: #FFF;
}
/* line 157, ../sass/screen.scss */
header#head #login ul li.button {
  background-color: #fff;
  border-radius: 20px;
  color: #000;
}
/* line 165, ../sass/screen.scss */
header#head #barres {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
/* line 170, ../sass/screen.scss */
header#head #barres #jaune {
  height: 5px;
  width: 25%;
  background-color: #eeb939;
  float: left;
}
/* line 176, ../sass/screen.scss */
header#head #barres #rouge {
  height: 5px;
  width: 25%;
  background-color: #e06748;
  float: left;
}
/* line 182, ../sass/screen.scss */
header#head #barres #violet {
  height: 5px;
  width: 25%;
  background-color: #895993;
  float: left;
}
/* line 188, ../sass/screen.scss */
header#head #barres #bleu {
  height: 5px;
  width: 25%;
  background-color: #98b8e1;
  float: left;
}

/* line 197, ../sass/screen.scss */
#navhidebtn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 10px;
  top: 30px;
  padding: 8px 7px;
}

/*    Home Page*/
/* line 209, ../sass/screen.scss */
section#content {
  background: #ccc;
  overflow: visible;
  position: absolute;
  -webkit-transition: all .6s ease-in-out;
          transition: all .6s ease-in-out;
  /*    Profile Page*/
  /*   Footer*/
}
@media screen and (max-width: 768px) {
  /* line 209, ../sass/screen.scss */
  section#content {
    margin-left: 50%;
  }
}
@media screen and (min-width: 970px) {
  /* line 209, ../sass/screen.scss */
  section#content {
    margin-left: 16.66666667%;
  }
}
/* line 221, ../sass/screen.scss */
section#content.navhide {
  margin-left: 0 !important;
}
/* line 225, ../sass/screen.scss */
section#content #owl-slide .item {
  background-color: red;
}
/* line 227, ../sass/screen.scss */
section#content #owl-slide .item img {
  display: block;
  width: 100%;
  height: auto;
}
/* line 236, ../sass/screen.scss */
section#content #owl-artistes .artiste {
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  border-radius: 3px;
  text-align: center;
}
/* line 248, ../sass/screen.scss */
section#content .owl-theme .owl-controls {
  z-index: 9999;
  margin-top: -40px;
  position: absolute;
  top: -10px;
  right: 30px;
}
/* line 255, ../sass/screen.scss */
section#content .owl-theme .owl-controls .owl-prev {
  background: url(../images/arrow-prev-noir.png) no-repeat 10px center;
  font-size: 0;
  padding: 14px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  float: left;
}
/* line 262, ../sass/screen.scss */
section#content .owl-theme .owl-controls .owl-prev:hover {
  background: url(../images/arrow-prev-blanc.png) #283032 no-repeat 10px center;
}
/* line 267, ../sass/screen.scss */
section#content .owl-theme .owl-controls .owl-next {
  background: url(../images/arrow-next-noir.png) no-repeat 10px center;
  font-size: 0;
  padding: 14px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  float: left;
}
/* line 274, ../sass/screen.scss */
section#content .owl-theme .owl-controls .owl-next:hover {
  background: url(../images/arrow-next-blanc.png) #283032 no-repeat 10px center;
}
/* line 282, ../sass/screen.scss */
section#content .owl-theme .owl-controls .owl-page span {
  opacity: 1;
}
/* line 285, ../sass/screen.scss */
section#content .owl-theme .owl-controls .owl-page.active span {
  background-color: #fff;
  border: 4px solid #aaa;
}
/* line 294, ../sass/screen.scss */
section#content #searchbar {
  position: absolute;
  top: 35px;
  left: 60px;
  border: 0;
  background-color: transparent;
}
/* line 20, ../sass/screen.scss */
section#content #searchbar ::-webkit-input-placeholder {
  color: white;
  font-weight: 100;
}
/* line 21, ../sass/screen.scss */
section#content #searchbar :-moz-placeholder {
  color: white;
  font-weight: 100;
}
/* line 22, ../sass/screen.scss */
section#content #searchbar ::-moz-placeholder {
  color: white;
  font-weight: 100;
}
/* line 23, ../sass/screen.scss */
section#content #searchbar :-ms-input-placeholder {
  color: white;
  font-weight: 100;
}
/* line 304, ../sass/screen.scss */
section#content #searchbar:after {
  content: "";
  border-bottom: 1px solid #fff;
  width: 135px;
  height: 1px;
  position: absolute;
  top: 30px;
  left: 5px;
  opacity: 0.5;
}
/* line 315, ../sass/screen.scss */
section#content #searchbar input {
  border: 0;
  background-color: transparent;
  opacity: 0.8;
  width: 120px;
}
/* line 321, ../sass/screen.scss */
section#content #searchbar input:focus {
  outline: 0;
}
/* line 325, ../sass/screen.scss */
section#content #searchbar a {
  color: #fff;
  opacity: 0.5;
}
/* line 331, ../sass/screen.scss */
section#content nav#navtop {
  position: absolute;
  top: 30px;
  right: 35px;
}
/* line 335, ../sass/screen.scss */
section#content nav#navtop li {
  float: left;
  text-transform: uppercase;
  margin-left: 10px;
  color: #fff;
  padding: 6px 20px;
}
/* line 342, ../sass/screen.scss */
section#content nav#navtop li a {
  color: #FFF;
}
/* line 345, ../sass/screen.scss */
section#content nav#navtop li.button {
  background-color: #fff;
  border-radius: 20px;
  color: #000;
}
/* line 350, ../sass/screen.scss */
section#content nav#navtop li.button a {
  color: #000;
}
/* line 356, ../sass/screen.scss */
section#content nav#navtop li.buttonred {
  background-color: #bf1e47;
  border-radius: 20px;
}
/* line 359, ../sass/screen.scss */
section#content nav#navtop li.buttonred a {
  color: #fff;
}
/* line 368, ../sass/screen.scss */
section#content #topartiste {
  width: 100%;
  background: #fff;
}
/* line 372, ../sass/screen.scss */
section#content #topartiste .title {
  margin: 10px 25px;
  margin-top: 0;
}
/* line 375, ../sass/screen.scss */
section#content #topartiste .title h2 {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 383, ../sass/screen.scss */
section#content #topartiste .wrapper {
  padding-bottom: 20px;
}
/* line 385, ../sass/screen.scss */
section#content #topartiste .wrapper .artiste {
  padding-top: 30px;
  border: 1px solid #eee;
  width: 180px;
  height: 270px;
  text-align: center;
  margin: auto;
  position: relative;
}
/* line 394, ../sass/screen.scss */
section#content #topartiste .wrapper .artiste > a:before {
  content: '';
  position: absolute;
  top: 25px;
  left: 35px;
  height: 110px;
  width: 110px;
  background-image: url(../images/contour.png);
  background-size: contain;
  background-repeat: no-repeat;
}
/* line 406, ../sass/screen.scss */
section#content #topartiste .wrapper .artiste .artistebtn {
  margin-top: 10px;
}
/* line 409, ../sass/screen.scss */
section#content #topartiste .wrapper .artiste div {
  position: relative;
}
/* line 411, ../sass/screen.scss */
section#content #topartiste .wrapper .artiste div a {
  position: absolute;
  padding-top: 6px;
  bottom: -40px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  font-size: 15px;
  text-align: center;
  color: #293033;
  -webkit-transition: all .3s ease-in;
          transition: all .3s ease-in;
}
/* line 426, ../sass/screen.scss */
section#content #topartiste .wrapper .artiste div a:nth-child(1) {
  left: 20px;
}
/* line 428, ../sass/screen.scss */
section#content #topartiste .wrapper .artiste div a:nth-child(1):hover {
  color: #fff;
  background-color: #293033;
}
/* line 433, ../sass/screen.scss */
section#content #topartiste .wrapper .artiste div a:nth-child(2) {
  background-color: #FFF;
  width: 40px;
  height: 40px;
  left: 70px;
}
/* line 439, ../sass/screen.scss */
section#content #topartiste .wrapper .artiste div a:nth-child(2) .button {
  width: 30px;
  height: 30px;
  top: -2px;
  left: 4px;
  padding-top: 4px;
  background-color: #7a93b5;
  color: #fff;
  border-radius: 50%;
  -webkit-transition: all .3s ease-in;
          transition: all .3s ease-in;
}
/* line 452, ../sass/screen.scss */
section#content #topartiste .wrapper .artiste div a:nth-child(2):hover .button {
  color: #fff;
  padding-top: 7px;
  width: 39px;
  height: 39px;
  padding-top: 10px;
  top: -7px;
  left: 0px;
}
/* line 463, ../sass/screen.scss */
section#content #topartiste .wrapper .artiste div a:nth-child(3) {
  font-size: 13px;
  right: 20px;
}
/* line 466, ../sass/screen.scss */
section#content #topartiste .wrapper .artiste div a:nth-child(3):hover {
  color: #fff;
  background-color: #293033;
}
/* line 475, ../sass/screen.scss */
section#content #topartiste .wrapper span {
  display: inline-block;
  font-size: 12px;
}
/* line 479, ../sass/screen.scss */
section#content #topartiste .wrapper .name {
  display: inline-block;
  margin-top: 18px;
}
/* line 483, ../sass/screen.scss */
section#content #topartiste .wrapper .name span {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
/* line 488, ../sass/screen.scss */
section#content #topartiste .wrapper .name span > span {
  text-transform: uppercase;
}
/* line 496, ../sass/screen.scss */
section#content #sectiongauche {
  margin: 30px;
  background: #fff;
}
/* line 500, ../sass/screen.scss */
section#content #sectiongauche .textgauche {
  margin: 0 30px 0 30px;
  float: left;
  width: 52%;
}
/* line 505, ../sass/screen.scss */
section#content #sectiongauche .textgauche .title {
  margin: 20px 0 15px 0;
}
/* line 508, ../sass/screen.scss */
section#content #sectiongauche .textgauche .title .span {
  float: left;
}
/* line 512, ../sass/screen.scss */
section#content #sectiongauche .textgauche .title .decouvrir {
  color: #fff;
  float: right;
  margin: -30px;
  width: 50%;
  padding: 5px;
  background: #99b8e6;
  border-radius: 35px;
  text-align: center;
  margin: none;
}
/* line 527, ../sass/screen.scss */
section#content #sectiongauche .imagemusique {
  float: right;
  width: 394px;
  height: 292px;
  display: block;
  background: url(../images/img-cat-music.png) center top no-repeat;
  text-decoration: none;
  position: relative;
}
/* line 535, ../sass/screen.scss */
section#content #sectiongauche .imagemusique .cercleinfos i {
  font-size: 15px;
  color: #fff;
  background: #293134;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
/* line 546, ../sass/screen.scss */
section#content #sectiongauche .imagemusique .textinfos {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  background: #000;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20% 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
/* line 561, ../sass/screen.scss */
section#content #sectiongauche .imagemusique:hover .cercleinfos i {
  background: #895993;
  z-index: 1;
}
/* line 565, ../sass/screen.scss */
section#content #sectiongauche .imagemusique:hover .textinfos {
  opacity: 0.7;
}
/* line 570, ../sass/screen.scss */
section#content #sectiongauche .imagedesign {
  float: right;
  width: 394px;
  height: 292px;
  display: block;
  position: relative;
  background: url(../images/img-cat-design.png) center top no-repeat;
}
/* line 577, ../sass/screen.scss */
section#content #sectiongauche .imagedesign .cercleinfos i {
  font-size: 15px;
  color: #fff;
  background: #293134;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
/* line 589, ../sass/screen.scss */
section#content #sectiongauche .imagedesign .textinfos {
  opacity: 0;
  background: #000;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20% 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
/* line 604, ../sass/screen.scss */
section#content #sectiongauche .imagedesign:hover .cercleinfos i {
  background: #895993;
  z-index: 1;
}
/* line 608, ../sass/screen.scss */
section#content #sectiongauche .imagedesign:hover .textinfos {
  opacity: 0.7;
}
/* line 613, ../sass/screen.scss */
section#content #sectiongauche .imagelettres {
  float: right;
  width: 394px;
  height: 292px;
  display: block;
  position: relative;
  background: url(../images/img-cat-lettres.png) center top no-repeat;
}
/* line 621, ../sass/screen.scss */
section#content #sectiongauche .imagelettres .cercleinfos i {
  font-size: 15px;
  color: #fff;
  background: #293134;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
/* line 634, ../sass/screen.scss */
section#content #sectiongauche .imagelettres .textinfos {
  opacity: 0;
  background: #000;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20% 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
/* line 651, ../sass/screen.scss */
section#content #sectiongauche .imagelettres:hover .cercleinfos i {
  background: #895993;
  z-index: 1;
}
/* line 656, ../sass/screen.scss */
section#content #sectiongauche .imagelettres:hover .textinfos {
  opacity: 0.7;
}
/* line 662, ../sass/screen.scss */
section#content #sectiongauche .clear {
  clear: both;
}
/* line 667, ../sass/screen.scss */
section#content #sectiondroite {
  margin: 30px;
  background: #fff;
}
/* line 671, ../sass/screen.scss */
section#content #sectiondroite .textdroite {
  margin: 0 30px 0 30px;
  float: right;
  width: 53%;
}
/* line 676, ../sass/screen.scss */
section#content #sectiondroite .textdroite .title {
  margin: 20px 0 15px 0;
  text-align: right;
}
/* line 680, ../sass/screen.scss */
section#content #sectiondroite .textdroite .title .span {
  float: right;
}
/* line 684, ../sass/screen.scss */
section#content #sectiondroite .textdroite .title .decouvrir {
  color: #fff;
  float: left;
  margin: -30px;
  width: 50%;
  padding: 5px;
  background: #99b8e6;
  border-radius: 35px;
  text-align: center;
  margin: none;
}
/* line 699, ../sass/screen.scss */
section#content #sectiondroite .imagevideo {
  float: left;
  width: 394px;
  height: 292px;
  display: block;
  position: relative;
  background: url(../images/img-cat-video.png) center top no-repeat;
}
/* line 707, ../sass/screen.scss */
section#content #sectiondroite .imagevideo .cercleinfos i {
  font-size: 15px;
  color: #fff;
  background: #293134;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
/* line 720, ../sass/screen.scss */
section#content #sectiondroite .imagevideo .textinfos {
  opacity: 0;
  background: #000;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  padding: 20% 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
/* line 738, ../sass/screen.scss */
section#content #sectiondroite .imagevideo:hover .cercleinfos i {
  background: #895993;
  z-index: 1;
}
/* line 743, ../sass/screen.scss */
section#content #sectiondroite .imagevideo:hover .textinfos {
  opacity: 0.7;
}
/* line 749, ../sass/screen.scss */
section#content #sectiondroite .imagehappening {
  float: left;
  width: 394px;
  height: 292px;
  display: block;
  position: relative;
  background: url(../images/img-cat-happening.png) center top no-repeat;
}
/* line 757, ../sass/screen.scss */
section#content #sectiondroite .imagehappening .cercleinfos i {
  font-size: 15px;
  color: #fff;
  background: #293134;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
/* line 770, ../sass/screen.scss */
section#content #sectiondroite .imagehappening .textinfos {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  background: #000;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  padding: 20% 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
/* line 787, ../sass/screen.scss */
section#content #sectiondroite .imagehappening:hover .cercleinfos i {
  background: #895993;
  z-index: 1;
}
/* line 792, ../sass/screen.scss */
section#content #sectiondroite .imagehappening:hover .textinfos {
  opacity: 0.7;
}
/* line 798, ../sass/screen.scss */
section#content #sectiondroite .clear {
  clear: both;
}
/* line 803, ../sass/screen.scss */
section#content #profilhead {
  display: block;
  width: 100%;
  height: 180px;
  background-image: url(http://lorempixel.com/1100/200);
  background-size: cover;
  position: relative;
}
/* line 810, ../sass/screen.scss */
section#content #profilhead h1 {
  text-transform: uppercase;
  position: absolute;
  top: 70px;
  left: 20px;
  z-index: 1;
  font-weight: bold;
  color: #FFF;
}
/* line 819, ../sass/screen.scss */
section#content #profilhead #filter {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(41, 48, 51, 0.5);
  padding: 5px 20px;
}
/* line 825, ../sass/screen.scss */
section#content #profilhead #filter * {
  float: left;
  display: inline-block;
}
/* line 829, ../sass/screen.scss */
section#content #profilhead #filter button {
  background: none;
  border: 0;
  color: #FFF;
  opacity: 0.5;
}
/* line 834, ../sass/screen.scss */
section#content #profilhead #filter button.active {
  opacity: 1;
}
/* line 838, ../sass/screen.scss */
section#content #profilhead #filter p {
  color: #fff;
  margin: 0 30px;
  line-height: 22px;
}
/* line 846, ../sass/screen.scss */
section#content #wezuploadedwrap #Container .mix {
  display: none;
}
/* line 849, ../sass/screen.scss */
section#content #wezuploadedwrap #Container .wezuploaded {
  width: 180px;
  height: 220px;
  display: block;
  float: left;
  margin: 10px;
  position: relative;
}
/* line 857, ../sass/screen.scss */
section#content #wezuploadedwrap #Container .wezuploaded a {
  border-radius: 3px;
  display: block;
  width: 100%;
  height: 100%;
  color: #FFF;
  background-size: cover;
}
/* line 864, ../sass/screen.scss */
section#content #wezuploadedwrap #Container .wezuploaded a img {
  position: absolute;
}
/* line 867, ../sass/screen.scss */
section#content #wezuploadedwrap #Container .wezuploaded a span {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
/* line 880, ../sass/screen.scss */
section#content .footer {
  padding: 30px;
  border-top: 1px solid #c4c4c4;
  overflow: hidden;
  line-height: 30px;
}
/* line 885, ../sass/screen.scss */
section#content .footer a {
  color: #000 !important;
}
/* line 889, ../sass/screen.scss */
section#content .footer p {
  background: transparent;
  margin: 0;
}
/* line 893, ../sass/screen.scss */
section#content .footer .info {
  float: left;
}
/* line 895, ../sass/screen.scss */
section#content .footer .info ul li {
  float: left;
  margin-right: 10px;
  font-weight: bold;
}
/* line 900, ../sass/screen.scss */
section#content .footer .info ol li {
  float: left;
  margin-right: 10px;
  opacity: 0.6;
}
/* line 906, ../sass/screen.scss */
section#content .footer .copyright {
  float: right;
  text-align: right;
}
/* line 909, ../sass/screen.scss */
section#content .footer .copyright p {
  font-weight: bold;
}
/* line 912, ../sass/screen.scss */
section#content .footer .copyright span {
  opacity: 0.6;
}
