/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;


*/

@import "compass/reset";

.nopadding{
    padding:0!important;
}
.nomargin{
    margin:0!important;
}
.fullwidth{
    width:100%!important;
}
.hide{
    display:none!important;
}
input{
    font-family: 'Raleway', sans-serif!important;
}
html {
    height: 100%;
}
body{
    width:100%;
    min-height: 100%;
    height: 100%;
    //background-image:url(../images/bg.jpg);
    background-size: 100%;
    background-position: 50% 0;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif!important;
    color:#fff;
    margin: 0;
    padding: 0;
}


header#head{
    background-color: #283032;
    height: 100%;
    display: block !important;
    float: left;
    height: 100%;
    color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    padding:0;

    #logo{
        margin: 27px;
        img{
            width: 150px;
            margin: 0 auto;
            display:block;
        }
    }
    #nav{
        width: 100%;
        margin: 0 auto;
        li{
            color: #FFF;
            transition: all .3s ease-in-out;

            a{
                padding: 14px 40px;
                text-decoration:none;
                color: #fff;
                display:inherit;
                width:200px;
                i{
                    margin-right: 20px;
                }


            }
            &:hover{
                border-left: 5px solid #c6c6c6;
                background-color: #171a1c;
                ul{
                    height:190px;;
                }
            }

            &:visited{
                color: #fff;
            }
            ul{
                height:0;
                overflow:hidden;
                transition: all .3s ease-in-out;


                li{
                    opacity:0.5;
                    a{
                        padding-left: 80px;
                    }
                    &:hover{
                        background-color:transparent;
                        border-left: 5px solid #fff;
                        opacity:1;

                    }
                }
            }
        }

    }


    #login{
        position: absolute;
        bottom: 30px;
        left: 30px;
        li{
            float: left;
            text-transform: uppercase;
            margin-left:10px;
            color:#fff;
            padding: 6px 20px;
            text-align:center;
            width:160px;
            margin:5px 0;

            a{
                color: #FFF;
            }
            &.button{
                background-color: #fff;
                border-radius: 20px;
                a{
                    color: #000;

                }

            }
        }
    }

	#barres {
	width: 100%;
	position: absolute;
    bottom: 0px;
	
		#jaune {
		height:5px;
		width:25%;
		background-color:yellow;
		float: left;
		}
		#rouge {
		height:5px;
		width:25%;
		background-color:red;
		float: left;
		}
		#violet {
		height:5px;
		width:25%;
		background-color:purple;
		float: left;
		}
		#bleu {
		height:5px;
		width:25%;
		background-color:blue;
		float: left;
		}
	}
}

#navhidebtn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 10px;
    top: 30px;
    padding: 8px 7px;
}

section#content {
    background: #ccc;
    overflow:visible;
    position:absolute;
    margin-left:16.66666667%;
    transition: all .6s ease-in-out;
    &.navhide{
        margin-left: 0!important;
    }
    #owl-slide {
        .item{
            background-color:red;
            img{
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
    #owl-artistes{

        .artiste{
            padding: 30px 0px;
            margin: 10px;
            color: #FFF;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            text-align: center;
        }
    }
    .owl-theme{

        .owl-controls{
            z-index: 9999;
            margin-top: -40px;
            position: absolute;
            width: 100%;
            .owl-page{
                span{
                    opacity: 1;
                }
                &.active span{
                    background-color: #fff;
                    border: 4px solid #aaa;

                }
            }

        }
    }
    #searchbar {
        position: absolute;
        top: 35px;
        left: 60px;
        border: 0;
        background-color: transparent;
        &:after{
            content: "";
            border-bottom: 1px solid #fff;
            width: 135px;
            height: 1px;
            position: absolute;
            top: 30px;
            left: 5px;
            opacity: 0.5;
        }

        input{
            border: 0;
            background-color: transparent;
            opacity: 0.5;
            width: 120px;
            color:#fff;
            &:focus{
                outline: 0;
            }
        }
        a{

            color: #fff;
            opacity: 0.5;
        }
    }
    nav#navslider{
        position: absolute;
        top: 30px;
        right: 35px;
        li{
            float: left;
            text-transform: uppercase;
            margin-left:10px;
            color:#fff;
            padding: 6px 20px;

            a{
                color: #FFF;
            }
            &.button{
                background-color: #fff;
                border-radius: 20px;
                a{
                    color: #000;

                }

            }
        }
    }
	
    #topartiste{
        width: 100%;
		background: #fff;
		
        .title{
            margin:10px 25px;
            h2{
                display: inline-block;
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
        .wrapper{
            display: flex;

            .artiste{
                padding-top:30px;
                border: 1px solid #eee;
                width: 180px;
                height: 270px;
                text-align: center;
                margin: auto;
                position:relative;
                >a{
                    &:before {
                        content: '';
                        position: absolute;
                        top: 25px;
                        left: 35px;
                        height: 110px;
                        width: 110px;
                        background-image: url(../images/contour.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }
                .artistebtn{
                    margin-top: 10px;
                }
                div{
                    position:relative;
                    a {
                        position: absolute;
                        padding-top: 6px ;
                        bottom: -40px;
                        width:33px;
                        height:33px;
                        border-radius:50%;
                        background-color:#fff;
                        border:1px solid #bfbfbf;
                        font-size:15px;
                        text-align:center;
                        color: #293033;
                        transition: all .3s ease-in;


                        &:nth-child(1){
                            left: 20px;
                            &:hover{
                                color: #fff;
                                background-color:#293033;
                            }
                        }
                        &:nth-child(2){
                            background-color:#FFF;
                            width:40px;
                            height:40px;
                            left: 70px;

                            .button{
                                width:30px;
                                height:30px;
                                top: -2px;
                                left: 4px;
                                padding-top: 5px;
                                background-color: #7a93b5;
                                color: #fff;
                                border-radius: 50%;
                                transition: all .3s ease-in;

                            }

                            &:hover .button{
                                color: #fff;
                                padding-top: 7px;
                                width:39px;
                                height:39px;
                                padding-top: 10px;
                                top: -7px;
                                left: 0px;
                            }

                        }
                        &:nth-child(3){
                            font-size:13px;
                            right: 20px;
                            &:hover{
                                color: #fff;
                                background-color:#293033;
                            }
                        }

                    }
                }
            }
            span{
                display: inline-block;
                font-size:12px;
            }
            .name{
                display: inline-block;
                margin-top: 18px;

                span{
                    display: inline-block;
                    font-size:14px;
                    font-weight:bold;
                    color:#333;
                    >span{
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
	
	#sectionmusicale {
	margin: 30px;
	background: #fff;
	
		.textgauche {
			margin: 0 30px 0 30px;
			float: left;
			width: 55%;
			
			.title {
				margin: 20px 0 15px 0;
				
				.span {
				float: left;
				}
				
				.decouvrir {
					float: right;
					width: 230px;
					padding: 5px;
					background: #eee;
					border-radius: 35px;
					text-align: center;
					mardin: none;
				}
			}
		}
		
		.imagedroite {
			float: right;
			width: 394px;
			height: 292px;
			display: block;
			background: url(../images/imagemusique.png) center top no-repeat;
			
			.cercleinfos {
			background:grey;
			border-radius:50%;
			width:30px;
			height:30px;
			margin: 20px 0 0 20px;
			text-align: center;
			}
			
			.textinfos {
			display: none;
			}
		}
		
		.imagedroite:hover {
		
			.cercleinfos {
			display: none;
			}
			
			.textinfos {
			background: #000;
			opacity:0.7;
			width: 100%;
			height: 100%;
			display: block;
			text-align: center;
			padding: 30px;
			text-decoration: none;
			color: #fff;
			font-weight: bold;
			}
		}
		
		.clear {
		clear: both;
		}
	}
	
	#sectionvideo {
	margin: 30px;
	background: #fff;
	
		.textdroite {
			margin: 0 30px 0 30px;
			float: right;
			width: 55%;
			
			.title {
				margin: 20px 0 15px 0;
				text-align:right;
				
				.span {
				float: right;
				}
				
				.decouvrir {
					float: left;
					width: 230px;
					padding: 5px;
					background: #eee;
					border-radius: 35px;
					text-align: center;
					mardin: none;
				}
			}
		}
		
		.imagegauche {
			float: left;
			width: 394px;
			height: 292px;
			display: block;
			background: url(../images/imagemusique.png) center top no-repeat;
			
			.cercleinfos {
			background:grey;
			border-radius:50%;
			width:30px;
			height:30px;
			margin: 20px 0 0 340px;
			text-align: center;
			}
			
			.textinfos {
			display: none;
			}
		}
		
		.imagegauche:hover {
		
			.cercleinfos {
			display: none;
			}
			
			.textinfos {
			background: #000;
			opacity:0.7;
			width: 100%;
			height: 100%;
			display: block;
			text-align: center;
			padding: 30px;
			text-decoration: none;
			color: #fff;
			font-weight: bold;
			}
		}
		
		.clear {
		clear: both;
		}
	}
	#sectiondesign {
	margin: 30px;
	background: #fff;
	
		.textgauche {
			margin: 0 30px 0 30px;
			float: left;
			width: 55%;
			
			.title {
				margin: 20px 0 15px 0;
				
				.span {
				float: left;
				}
				
				.decouvrir {
					float: right;
					width: 230px;
					padding: 5px;
					background: #eee;
					border-radius: 35px;
					text-align: center;
					mardin: none;
				}
			}
		}
		
		.imagedroite {
			float: right;
			width: 394px;
			height: 292px;
			display: block;
			background: url(../images/imagemusique.png) center top no-repeat;
			
			.cercleinfos {
			background:grey;
			border-radius:50%;
			width:30px;
			height:30px;
			margin: 20px 0 0 20px;
			text-align: center;
			}
			
			.textinfos {
			display: none;
			}
		}
		
		.imagedroite:hover {
		
			.cercleinfos {
			display: none;
			}
			
			.textinfos {
			background: #000;
			opacity:0.7;
			width: 100%;
			height: 100%;
			display: block;
			text-align: center;
			padding: 30px;
			text-decoration: none;
			color: #fff;
			font-weight: bold;
			}
		}
		
		.clear {
		clear: both;
		}
	}
	
	#footer {
	margin: 30px;
	border-top: 1px solid #999;
	padding-top: 10px;
	
		a {
		margin-right: 20px;
		}
	
		#footerleft {
		float: left;
		width: 55%;
		padding: 5px;
		}
		
		#footerright {
		float: right;
		width: 150px;
		text-align: right;
		}
	}
}