/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;


*/
@font-face {
    font-family: "pictowezaart";
    src: url('../fonts/untitled-font-1.eot');
    src: url('../fonts/untitled-font-1.eot?#iefix') format('eot'),
        url('../fonts/untitled-font-1.woff') format('woff'),
        url('../fonts/untitled-font-1.ttf') format('truetype'),
        url('../fonts/untitled-font-1.svg') format('svg');
}
*,*:focus {
    outline: 0;
}

#identification {
    background-color: #fff;
    color:black;
    color:black;
    margin:auto;
    width:40%;
    border-radius: 2px;
    padding: 50px;
    text-align: left;

    h1 {
        text-align: left;
        font-size: 20px;
    }

    input[type=password], input[type=email]{
        width: 100%;
        height: 35px;
        padding-left: 11px;
        font-size: 17px;
        margin-bottom: 20px;
        border: 1px solid #e0e0e0;
        border-radius: 3px;
    }

    #logintwitter {
        background-color: #55acef;
        color:white;
        margin:auto;
        width:100%;
        text-align:right;
        border-radius: 2px;
        padding: 10px 20px;
    }

    #logotwitter {
        background-image: url(../images/logintwitter.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 18px;
        display: inline-block;
        line-height: 16px;
        color: #fff;
        text-decoration: none;

        a {
            color: #fff;
        }
    }

    #loginfacebook {
        background-color: #3b5999;
        color:white;
        margin:auto;
        width:100%;
        text-align:right;
        border-radius: 2px;
        padding: 10px 20px;
    }

    #logofacebook {
        background-image: url(../images/loginfb.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 18px;
        display: inline-block;
        line-height: 16px;
        color: #fff;
        text-decoration: none;
    }

    #souvenir {
        width: 100%;
        text-align: right;
    }

    #souvleft {
        float: left;
        width: 150px;
    }
}

.buttonlogin {
    background-color: #283033;
    border-radius: 20px;
    color: #fff;
    border: 0;
    padding: 5px 10px;
    text-align: center;
    width: 150px;
    margin-top: 20px;
}

.userconnect {
    text-align: center;
    width: 100%;
    padding: 0 20px;
    position: absolute;
    bottom: 20px;
    >a:nth-child(1){
        position:relative;
        &:before {
            content: '';
            position: absolute;
            top: -45px;
            height: 110px;
            width: 110px;
            background-image: url(../images/img-intro-stats-03.png);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .name{
        display: inline-block;
        font-size: 14px;
        color: #fff;
        margin-top: 18px;
        margin-bottom: 10px;
        font-weight: bold;
        span{
            span{
                text-transform: uppercase;
            }
        }
    }
    .artistebtn{
        position:relative;
        margin-bottom: 15px;
        a {
            padding-top: 6px;
            display: inline-block;
            width: 33px;
            height: 33px;
            border-radius: 50%;
            background-color: #fff;
            border: 1px solid #bfbfbf;
            font-size: 15px;
            text-align: center;
            text-decoration: none;
            color: #293033;
            transition: all .3s ease-in;
            vertical-align:top;


            &:nth-child(1){
                left: 20px;
                line-height: 25px;
                &:hover{
                    color: #fff;
                    background-color:#293033;
                }
            }
            &:nth-child(2){
                background-color:#FFF;
                width:40px;
                height:40px;
                left: 80px;
                font-size: 21px;
                line-height: 33px;
                margin: 0 5%;

                &:hover{
                    color: #fff;
                    background-color:#293033;
                }

            }
            &:nth-child(3){
                right: 20px;
                line-height:24px;
                &:hover{
                    color: #fff;
                    background-color:#293033;
                }
            }

        }
    }

    .moneys {

        .euros {
            text-decoration:none;
            background-color: #171a1c;
            margin:auto;
            color:white;
            border-radius: 50px;
            height:30px;
            width: 125px;
        }
        a {
            text-decoration:none;
        }
        .iconesmoneys {
            padding-top:5px;
            float: left;
            margin-left:20px;
        }
        .chiffres{
            padding-top:4px;
        }
        img {
            padding-right:5px;
        }

    }

    .userbtn {
        width: 100%;
        padding: 10px;

        .userbutton {
            border-radius: 50%;
            background-color: white;
            width: 20px;
            float: left;
            margin-left: 20px;
        }

        .userbutton2 {
            border-radius: 50%;
            background-color: white;
            width: 40px;
            height: 40px;
            float: left;
            margin-left: 20px;
        }
    }
}

.clear {
    clear: both;
}

$break-small: 768px;
$break-large: 970px;

@import "compass/reset";


@mixin placeholder {
    ::-webkit-input-placeholder {@content}
    :-moz-placeholder           {@content}
    ::-moz-placeholder          {@content}
    :-ms-input-placeholder      {@content}
}


.nopadding{
    padding:0!important;
}
.nomargin{
    margin:0!important;
}
.fullwidth{
    width:100%!important;
}
.notransition{
    transition:none!important;
}
.hide{
    display:none!important;
}
input{
    font-family: 'Raleway', sans-serif!important;
}
html {
    height: 100%;
}
body{
    width:100%;
    min-height: 100%;
    height: 100%;
    //background-image:url(../images/bg.jpg);
    background-size: 100%;
    background-position: 50% 0;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif!important;
    color:#fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*    Nav Bar*/

header#head{
    background-color: #283032;
    height: 100%;
    display: block !important;
    float: left;
    height: 100%;
    color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    padding:0;

    #logo{
        margin: 27px auto;
        img{
            width: 150px;
            margin: 0 auto;
            display:block;
        }
    }
    #nav{
        width: 100%;
        margin: 0 auto;
        li{
            color: #FFF;
            transition: all .3s ease-in-out;
            text-transform:capitalize;
            a{
                padding: 7px 0 7px 15%;
                text-decoration:none;
                color: #fff;
                display:inherit;
                width:100%;
                i{
                    margin-right: 20px;
                    vertical-align: middle;
                    font-size: 25px;
                }


            }
            &:hover{
                border-left: 5px solid #c6c6c6;
                background-color: #171a1c;
                ul{
                    height:110px;;
                }
            }

            &:visited{
                color: #fff;
            }
            ul{
                height:0;
                overflow:hidden;
                transition: all .3s ease-in-out;


                li{
                    opacity:0.5;
                    a{
                        padding-left: 70px;
                    }
                    &:hover{
                        background-color:transparent;
                        border-left: 5px solid #fff;
                        opacity:1;

                    }
                }
            }
        }

    }


    #login{
        position:absolute;
        bottom:30px;
        ul{
            text-align:center;
            li{
                text-transform: uppercase;
                margin-left:10px;
                color:#fff;
                padding: 6px 20px;
                text-align:center;
                width:160px;
                margin:5px 0;
                display:inline-block;

                a{
                    color: #FFF;
                }
                &.button{
                    background-color: #fff;
                    border-radius: 20px;
                    color: #000;
                }
            }
        }
    }
    #barres {
        width: 100%;
        position: absolute;
        bottom: 0px;

        #rose {
            height:5px;
            width:25%;
            background-color:#d81a60;
            float: left;
        }
        #orange {
            height:5px;
            width:25%;
            background-color:#fb8c00;
            float: left;
        }
        #jaune {
            height:5px;
            width:25%;
            background-color:#fed835;
            float: left;
        }
        #vert {
            height:5px;
            width:25%;
            background-color:#a3cc28;
            float: left;
        }
    }
}

#navhidebtn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    left: 10px;
    top: 30px;
    padding: 8px 7px;
    color: #fff;
    opacity: 0.6;
}
/*    Home Page*/
.ui-widget-content{
    background: transparent!important;
    border:0!important;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color:#fff!important;
    opacity: 0.8;
    font-weight:100;
    position: absolute!important;
    top: 66px !important;
    left: 305px !important;
    background-color: #000!important;
    width: 135px!important;
    border-radius: 0 0 3px 3px;
}
.ui-widget{
    font-family: 'Raleway', sans-serif!important;
}
.ui-state-focus, .ui-widget-content .ui-state-focus{
    background: transparent!important;
    color:#fff!important;
    font-weight:100!important;
    border-color: #fff!important;
}
section#content {
    background: #fff;
    overflow:visible;
    transition: all .6s ease-in-out;
    margin-left:25%;

    @media screen and (max-width: $break-small) {
        margin-left:33%;
    }
    @media screen and (min-width: $break-large) {
        margin-left:16.66666667%;
    }
    >img{
        padding: 0;
        width: 1000px;
    }
    .contentproject{
        height: 1440px;
        width: 1000px;
        position: absolute;
        top: 180px;
        padding: 45px 30px;
        a{
            outline:0;
            display:inline-block;
            float:left;
            .img{
                width: 570px;
                background-size: cover;
                background-position: center;
                border-radius:3px;
                img{
                    margin: 0 auto;
                    display: inherit;
                    text-align: center;
                    max-width: 570px;
                    max-height: 470px;
                    border-radius: 3px;
                }
            }
        }
        .artiste{
            display:block;
            float:left;
            padding:5px 0;
            display: inline;
            margin-left: 35px;
            margin-top: -10px;
            width:330px;
            .title{
                color: #fb8c00;
                font-size: 18px;
                font-weight: 600;
                text-transform: capitalize;
                opacity: 1;
            }
            span{
                color: #293033;
                opacity:0.5;
            }
            a{
                color: #293033;
                text-decoration: none;
                font-size: 14px;

                .picture{
                    padding: 0px;
                    transition: all 0.2s ease-in-out;
                    border-radius: 50%;
                    float:left;
                    overflow:auto;
                    padding: 3px;
                    border: 1px solid transparent;
                    margin-right:5px;

                    img{
                        width: 50px;
                        display: block;
                        float: left;
                        border-radius: 50%;

                    }
                }
                .lastname{
                    margin-right: 5px;
                    margin-left: 5px;
                }

                .info{
                    float: left;
                    margin-top: 10px;
                    display: inline;
                    overflow: hidden;
                    line-height: 100%;
                    >div{
                        float: left;
                        clear: left;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
    &.navhide{
        margin-left: 0!important;
    }
    .presentation{
        background-color: #ccc;
    }
    #owl-slide {
        .item{
            img{
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
    #owl-artistes{
        .owl-controls {
            text-align: center;
            position: absolute;
            top: 0;
            right: 20px;
            margin-top: -50px;
        }
        .artiste{
            padding: 30px 0px;
            margin: 10px;
            color: #FFF;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            text-align: center;
            img{
                border-radius: 50%;
                width: 105px;
            }
            span{
                color: #333;
            }
        }
    }
    #owl-slide{
        .owl-controls{
            margin-top: -30px;
            position: relative;
        }
    }
    #owl-artistes{

        .owl-prev{
            background: url(../images/arrow-prev-noir.png) no-repeat 10px center;
            font-size: 0;
            padding: 14px;
            border: 1px solid #cccccc;
            border-radius: 50%;
            float: left;
            &:hover{
                background: url(../images/arrow-prev-blanc.png) #283032 no-repeat 10px center;

            }
        }
        .owl-next{
            background: url(../images/arrow-next-noir.png)  no-repeat 10px center;
            font-size: 0;
            padding: 14px;
            border: 1px solid #cccccc;
            border-radius: 50%;
            float: left;
            &:hover{
                background: url(../images/arrow-next-blanc.png) #283032 no-repeat 10px center;

            }
        }


        .owl-page{
            span{
                opacity: 1;
            }
            &.active span{
                background-color: #fff;
                border: 4px solid #aaa;

            }
        }
    }

    #searchbar {
        position: absolute;
        top: 35px;
        left: 60px;
        border: 0;
        background-color: transparent;
        font-weight:100;

        @include placeholder {
            color: white;
            font-weight:100;
        }
        &:after{
            content: "";
            border-bottom: 1px solid #fff;
            width: 135px;
            height: 1px;
            position: absolute;
            top: 30px;
            left: 5px;
            opacity: 0.5;
        }

        input{
            border: 0;
            background-color: transparent;
            opacity: 0.8;
            width: 120px;
            color: #FFF;
            text-transform: capitalize;

            &:focus{
                outline: 0;
            }
        }
        a{
            text-decoration: none;
            color: #fff;
            opacity: 0.5;
        }
    }
    nav#navtop{
        position: absolute;
        top: 30px;
        right: 35px;
        li{
            float: left;
            text-transform: uppercase;
            margin-left:10px;
            color:#fff;
            padding: 6px 20px;
            font-weight:500;
            a{
                color: #FFF;
            }
            &.button{
                background-color: transparent;
                border-radius: 20px;
                border:1px solid #fff;
                a{
                    color: #000;

                }

            }
            &.buttonred{
                background-color: #FFF;
                border-radius: 20px;
                color:#000;
                a{
                    color: #fff;

                }

            }
        }
    }

    >#topartiste{
        width: 100%;
        background: #fff;

        .title{
            margin:10px 25px;
            margin-top:0;
            h2{
                display: inline-block;
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }

        .wrapper{
            padding-bottom:20px;
            .artiste{
                padding-top: 30px;
                border: 1px solid #eee;
                width: 180px;
                height: 270px;
                text-align: center;
                margin: auto;
                position: relative;
                background-image: url(../images/bkg-home-artiste.png);
                background-position: bottom;
                background-size: 460px 250px;
                background-repeat: no-repeat;
                >a{

                    &:nth-child(1):before {
                        content: '';
                        position: absolute;
                        top: 26px;
                        left: 33px;
                        height: 112px;
                        width: 115px;
                        background-image: url(../images/contour.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }

                .artistebtn{
                    margin-top: 10px;
                }
                div{
                    position:relative;
                    a {
                        padding-top: 6px;
                        display: inline-block;
                        vertical-align: top;
                        width: 33px;
                        height: 33px;
                        border-radius: 50%;
                        background-color: #fff;
                        border: 1px solid #bfbfbf;
                        font-size: 15px;
                        text-align: center;
                        color: #293033;
                        transition: all .3s ease-in;
                        text-decoration: none;

                        &:nth-child(1){
                            left: 20px;
                            line-height:25px;

                            &:hover{
                                color: #fff;
                                background-color:#293033;
                            }
                        }
                        &:nth-child(2){
                            background-color:#FFF;
                            width:40px;
                            height:40px;
                            left: 70px;
                            line-height:26px;
                            margin: 0 5%;

                            .button{
                                width:30px;
                                height:30px;
                                top: -2px;
                                left: 4px;
                                padding-top: 4px;
                                background-color: #fb8c00;
                                color: #fff;
                                border-radius: 50%;
                                transition: all .3s ease-in;

                            }

                            &:hover .button{
                                color: #fff;
                                padding-top: 7px;
                                width:39px;
                                height:39px;
                                padding-top: 10px;
                                top: -7px;
                                left: 0px;
                            }

                        }
                        &:nth-child(3){
                            font-size:13px;
                            right: 20px;
                            line-height:22px;
                            &:hover{
                                color: #fff;
                                background-color:#293033;
                            }
                        }

                    }
                }
            }
            span{
                display: inline-block;
                font-size:12px;
            }
            .name{
                display: inline-block;
                margin-top: 18px;
                width:100%;
                span{
                    display: inline-block;
                    font-size:14px;
                    font-weight:bold;
                    color:#fb8c00;
                    text-transform: capitalize;
                }
                .lastname{
                    text-transform: uppercase;
                    margin-left: 5PX;
                }

            }
        }
    }

    #sectiongauche {
        margin: 30px;
        background: #fff;

        .textgauche {
            margin: 0 30px 0 30px;
            float: left;
            width: 52%;

            .title {
                margin: 20px 0 15px 0;
                strong{
                    text-transform: uppercase;
                }
                .span {
                    float: left;
                }

                .decouvrir {
                    color:#fff;
                    float: right;
                    margin:-30px;
                    //width: 230px;
                    width: 25%;
                    padding: 5px;
                    background: #c6c6c6;
                    border-radius: 35px;
                    text-align: center;
                    margin: none;
                }
            }
        }

        .imagemusique {
            float: right;
            width: 394px;
            height: 292px;
            display: block;
            background: url(../images/img-cat-perfo.jpg) center top no-repeat;
            text-decoration: none;
            position:relative;
            background-size:cover;
            .cercleinfos i{
                font-size:15px;
                color:#fff;
                background:#293134;
                border-radius:50%;
                position: absolute;
                top:20px;
                left: 20px;
                padding: 5px;
                transition: all 0.3s ease-in-out;
                height: 27px;
                width: 27px;
            }
            .textinfos {
                opacity:0;
                transition: all 0.3s ease-in-out;
                background: #000;
                width: 100%;
                height: 100%;
                text-align: center;
                padding: 20% 20px;
                text-decoration: none;
                color: #fff;
                font-weight: bold;

            }
        }
        .imagemusique:hover {
            .cercleinfos i{
                background:#fb8c00;
                z-index: 1;
            }
            .textinfos {
                opacity:0.7;

            }
        }
        .imagedesign {
            float: right;
            width: 394px;
            height: 292px;
            display: block;
            position: relative;
            background: url(../images/img-cat-design.jpg) center top no-repeat;
            background-size: cover;
            .cercleinfos i{
                font-size:15px;
                color:#fff;
                background:#293134;
                border-radius:50%;
                position: absolute;
                top:20px;
                left: 20px;
                padding: 5px;
                transition: all 0.3s ease-in-out;
                height: 27px;
                width: 27px;
            }
            .textinfos {
                opacity: 0;
                background: #000;
                width: 100%;
                height: 100%;
                text-align: center;
                padding: 20% 20px;
                text-decoration: none;
                color: #fff;
                font-weight: bold;
                transition: all 0.3s ease-in-out;

            }
        }
        .imagedesign:hover {
            .cercleinfos i{
                background:#fb8c00;
                z-index: 1;
            }
            .textinfos {
                opacity:0.7;

            }
        }
        .imagelettres {
            float: right;
            width: 394px;
            height: 292px;
            display: block;
            position: relative;
            background: url(../images/img-cat-lettres.jpg) center top no-repeat;
            background-size: cover;

            .cercleinfos i{
                font-size:15px;
                color:#fff;
                background:#293134;
                border-radius:50%;
                position: absolute;
                top:20px;
                left: 20px;
                padding: 5px;
                transition: all 0.3s ease-in-out;
                height: 27px;
                width: 27px;

            }

            .textinfos {
                opacity: 0;
                background: #000;
                width: 100%;
                height: 100%;
                text-align: center;
                padding: 20% 20px;
                text-decoration: none;
                color: #fff;
                font-weight: bold;
                transition: all 0.3s ease-in-out;

            }
        }

        .imagelettres:hover {

            .cercleinfos i{
                background:#fb8c00;
                z-index: 1;
            }

            .textinfos {
                opacity:0.7;

            }
        }

        .clear {
            clear: both;
        }
    }

    #sectiondroite {
        margin: 30px;
        background: #fff;

        .textdroite {
            margin: 0 30px 0 30px;
            float: right;
            width: 53%;

            .title {
                margin: 20px 0 15px 0;
                text-align:right;

                .span {
                    float: right;
                }

                .decouvrir {
                    color:#fff;
                    float: left;
                    margin:-30px;
                    //width: 230px;
                    width: 25%;
                    padding: 5px;
                    background: #c6c6c6;
                    border-radius: 35px;
                    text-align: center;
                    margin: none;
                }
            }
        }

        .imagevideo {
            float: left;
            width: 394px;
            height: 292px;
            display: block;
            position: relative;
            background: url(../images/img-cat-video.jpg) center top no-repeat;
            background-size:cover;
            .cercleinfos i{
                font-size:15px;
                color:#fff;
                background:#293134;
                border-radius:50%;
                position: absolute;
                top:20px;
                right: 20px;
                padding: 5px;
                transition: all 0.3s ease-in-out;
                height: 27px;
                width: 27px;
            }

            .textinfos {
                opacity: 0;
                background: rgba(0,0,0,0);
                width: 100%;
                height: 100%;
                display: block;
                text-align: center;
                padding: 20% 20px;
                text-decoration: none;
                color: #fff;
                font-weight: bold;
                transition: all 0.3s ease-in-out;
            }
        }

        .imagevideo:hover {

            .cercleinfos i{
                background:#fb8c00;
                z-index: 1;
            }

            .textinfos {
                background: rgba(0,0,0,0.5);
                opacity: 1;

            }
        }
        .imagehappening {
            float: left;
            width: 394px;
            height: 292px;
            display: block;
            position: relative;
            background: url(../images/img-cat-happening.jpg) center top no-repeat;
            background-size: cover;

            .cercleinfos i{
                font-size:15px;
                color:#fff;
                background:#293134;
                border-radius:50%;
                position: absolute;
                top:20px;
                right: 20px;
                padding: 5px;
                transition: all 0.3s ease-in-out;
                height: 27px;
                width: 27px;
            }

            .textinfos {
                opacity: 0;
                transition: all 0.3s ease-in-out;
                background: #000;
                width: 100%;
                height: 100%;
                display: block;
                text-align: center;
                padding: 20% 20px;
                text-decoration: none;
                color: #fff;
                font-weight: bold;
            }
        }

        .imagehappening:hover {

            .cercleinfos i{
                background:#fb8c00;
                z-index: 1;
            }

            .textinfos {
                opacity:0.7;


            }
        }
        .clear {
            clear: both;
        }
    }
    /*    categorie Page*/
    #categoriehead{
        display: block;
        width: 100%;
        z-index: 1;
        height: 180px;
        background-size: cover;
        position: relative;
        >*{
            z-index: 99;
        }
        >.categorieheadimg{
            width: 100%;
            height: 100%;
            filter: blur(5px);
            background-size: cover;
            overflow: auto;
            position: absolute;
            top: 0;
            z-index: -1;

        }
        >.categorieshadow{
            width: 100%;
            height: 100%;
            background-color: rgba(41, 48, 51, 0.5);
        }
        .title{
            position: absolute;
            top: 70px;
            left: 20px;
            h1{
                text-transform: uppercase;
                z-index: 1;
                font-weight: bold;
                color: #FFF;
                float: left;
            }
            h2{
                text-transform: uppercase;
                z-index: 1;
                font-weight: 100;
                color: #FFF;
                float: left;
                margin-top: 26px;
                margin-left: 10px;
            }
        }
        #filter{
            position: absolute;
            bottom: 0;
            width: 100%;
            padding:5px 20px;

            *{
                float: left;
                display: inline-block;
            }
            button{
                background: none;
                border: 0;
                color: #FFF;
                opacity: 0.5;
                &.active{
                    opacity: 1;
                }
            }
            p{
                color: #fff;
                margin: 0 15px;
                line-height: 22px;
                @media screen and (max-width: $break-small) {
                    width: 100%;
                }
            }
        }
    }
    #wezuploadedwrap{
        padding-top:15px;
        margin-bottom:15px;
        background-color:#fff;

        #Container{
            .mix{
                display: none;
            }
            .wezuploaded{
                height: 220px;
                float: left;
                margin-top: 15px;
                margin-bottom: 15px;
                position: relative;

                a{
                    border-radius:3px;
                    display: block;
                    width: 100%;
                    height: 100%;
                    color:#FFF;
                    background-size:cover;
                    background-position: center;
                    position:relative;
                    &:hover{
                        span{
                            opacity: 1;
                            width: 100%;
                        }
                    }
                    span{
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        padding: 5px;
                        transition: all 0.3s ease-in-out;
                        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
                        @media screen and (max-width: $break-small) {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }



    #rightcolumn{

        padding: 205px 5px 5px;
        background-color:#ccc;
        position: absolute;
        right: 0;
        bottom:0;
        height: 100%;
        >img{
            border-radius: 20px;
            z-index: 2;
            width: 95%;
            position: absolute;
            margin-top: -44px;
            cursor: pointer;
        }
        >a{
            width: 100%;
            display: block;
            margin:  20px auto 0 auto;
            img{
                width: 100%;
            }
        }
        #partenaire{
            img{
                margin: 5px auto;
                width: 100%;
                display: block;

            }
        }
        #topartiste, #topcrea{
            display:inline-block;
            h3{
                text-transform: uppercase;
                font-size: 18px;
            }
            .artiste{
                width:100%;
                display:block;
                float:left;
                padding:5px 0;
                a{
                    color: #293033;
                    text-decoration: none;
                    font-size: 14px;
                    .picture{
                        padding: 0px;
                        transition: all 0.2s ease-in-out;
                        border-radius: 50%;
                        float:left;
                        overflow:auto;
                        padding: 3px;
                        border: 1px solid transparent;

                        &:after{
                            transition: all 0.2s ease-in-out;
                            content: "w";
                            font-family:"untitled-font-1" !important;
                            width: 50px;
                            height: 50px;
                            position: absolute;
                            margin-left: -50px;
                            opacity: 0.8;
                            border-radius: 50%;
                            background-color: transparent;
                            color: transparent;
                            padding: 20px;

                        }
                        &:hover{
                            padding: 3px;
                            border: 1px solid #a0a3a4;
                            &:after{
                                padding: 16px;
                                color: #fff;
                                border: 1px solid #a0a3a4;
                                opacity: 0.8;
                                background-color: #3f484b;
                            }
                        }
                        img{
                            width: 50px;
                            display: block;
                            float: left;
                            border-radius: 50%;

                        }
                    }
                    .firstname{
                        margin-right: 5px;
                    }
                    span{
                        float: left;
                        line-height: 14px;                    }
                    i{
                        float: left;
                        line-height: 20px;
                        margin-right: 5px;
                    }
                    .info{
                        float: left;
                        margin-top: 10px;
                        display: inline-block;
                        overflow: hidden;
                        width: 53%;
                        line-height: 100%;
                        >div{
                            float: left;
                            clear: left;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
    /*   Footer*/

    .footer {
        background-color: #ccc;
        padding: 20px 50px;
        border-top: 1px solid #c4c4c4;
        overflow: hidden;
        line-height: 30px;
        a{
            color:#000!important;
        }

        p {
            background: transparent;
            margin: 0;
        }
        .info {
            float: left;
            ul li {
                float: left;
                margin-right: 10px;
                font-weight: bold;
            }
            ol li {
                float: left;
                margin-right: 10px;
                opacity: 0.6;
            }
        }
        .copyright {
            float: right;
            text-align: right;
            p {
                font-weight: bold;
            }
            span {
                opacity: 0.6;
            }
        }
    }
    /*    project Page*/
    #projecthead{
        display: block;
        width: 100%;
        z-index: 1;
        height: 180px;
        background-size: cover;
        position: relative;
        >.projectheadimg{
            width: 100%;
            height: 100%;
            filter: blur(5px);
            background-size: cover;
            overflow: auto;
            position: absolute;
            top: 0;
            z-index: -1;
        }
        >.projectshadow{
            width: 100%;
            height: 100%;
            background-color: rgba(41, 48, 51, 0.5);
        }
        .title{
            position: absolute;
            top: 90px;
            left: 35px;
            h1{
                text-transform: uppercase;
                z-index: 1;
                font-weight: bold;
                color: #FFF;
                float: left;
            }
            h2{
                text-transform: uppercase;
                z-index: 1;
                font-weight: 100;
                color: #FFF;
                float: left;
                margin-top: 26px;
                margin-left: 10px;
            }
        }
        #filter{
            position: absolute;
            bottom: 0;
            width: 100%;
            padding:5px 20px 0 20px;
            *{
                float: left;
                display: inline-block;
            }
            &.profil{
                button{
                    margin: 0 15px;
                    &.active{
                        opacity: 1;
                        border-bottom: 3px solid #fb8c00;
                    }
                }
            }
            button{
                background: none;
                border: 0;
                color: #FFF;
                opacity: 0.5;
                &.active{
                    opacity: 1;
                }
            }
            p{
                color: #fff;
                margin: 0 15px;
                line-height: 22px;
                @media screen and (max-width: $break-small) {
                    width: 100%;
                }
            }
        }
    }
    #wezuploadedwrap{
        padding-top:15px;
        margin-bottom:15px;
        background-color:#fff;

        #Container{
            .mix{
                display: none;
            }
            .wezuploaded{
                height: 220px;
                float: left;
                margin-top: 15px;
                margin-bottom: 15px;
                position: relative;

                a{
                    border-radius:3px;
                    display: block;
                    width: 100%;
                    height: 100%;
                    color:#FFF;
                    background-size:cover;
                    background-position: center;
                    position:relative;
                    overflow:auto;
                    &:hover{
                        span{
                            opacity: 1;
                            width: 100%;
                            bottom: 0px;

                        }
                    }
                    span{
                        width: 100%;
                        position: absolute;
                        bottom: -22px;
                        left: 0px;
                        padding: 5px;
                        transition: all 0.3s ease-in-out;
                        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
                        @media screen and (max-width: $break-small) {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }



    #rightcolumn{

        padding: 205px 5px 5px;
        background-color:#ccc;
        position: absolute;
        right: 0;
        bottom:0;
        height: 100%;
        >a{
            width: 100%;
            display: block;
            margin:  20px auto 0 auto;
            img{
                width: 100%;
            }
        }
        #partenaire{
            img{
                margin: 5px auto;
                width: 100%;
                display: block;

            }
        }
        #topartiste, #topcrea{
            display:inline-block;
            h3{
                text-transform: uppercase;
                font-size: 18px;
            }
            .artiste{
                width:100%;
                display:block;
                float:left;
                padding:5px 0;
                a{
                    color: #293033;
                    text-decoration: none;
                    font-size: 14px;
                    .picture{
                        padding: 0px;
                        transition: all 0.2s ease-in-out;
                        border-radius: 50%;
                        float:left;
                        overflow:auto;
                        padding: 3px;
                        border: 1px solid transparent;

                        &:after{
                            transition: all 0.2s ease-in-out;
                            content: "w";
                            font-family:"untitled-font-1" !important;
                            width: 50px;
                            height: 50px;
                            position: absolute;
                            margin-left: -50px;
                            opacity: 0.8;
                            border-radius: 50%;
                            background-color: transparent;
                            color: transparent;
                            padding: 20px;

                        }
                        &:hover{
                            padding: 3px;
                            border: 1px solid #a0a3a4;
                            &:after{
                                padding: 16px;
                                color: #fff;
                                border: 1px solid #a0a3a4;
                                opacity: 0.8;
                                background-color: #3f484b;
                            }
                        }
                        img{
                            width: 50px;
                            display: block;
                            float: left;
                            border-radius: 50%;

                        }
                    }
                    .firstname{
                        margin-right: 5px;
                    }
                    span{
                        float: left;
                        line-height: 14px;                    }
                    i{
                        float: left;
                        line-height: 20px;
                        margin-right: 5px;
                    }
                    .info{
                        float: left;
                        margin-top: 10px;
                        display: inline-block;
                        overflow: hidden;
                        width: 53%;
                        line-height: 100%;
                        >div{
                            float: left;
                            clear: left;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
    /*   Footer*/

    .footer {
        background-color: #ccc;
        padding: 20px 50px;
        border-top: 1px solid #c4c4c4;
        overflow: hidden;
        line-height: 30px;
        a{
            color:#000!important;
        }

        p {
            background: transparent;
            margin: 0;
        }
        .info {
            float: left;
            ul li {
                float: left;
                margin-right: 10px;
                font-weight: bold;
            }
            ol li {
                float: left;
                margin-right: 10px;
                opacity: 0.6;
            }
        }
        .copyright {
            float: right;
            text-align: right;
            p {
                font-weight: bold;
            }
            span {
                opacity: 0.6;
            }
        }
    }
}
.soutiensbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/bkg-intro.png') repeat center;
    padding:10%;
    .content{
        vertical-align:center;
        text-align:center;
        position:relative;
        img{
            margin: 0 auto;
            width: 650px;
            display: block;
        }
        .popinclose{
            width: 50px;
            height: 50px;
            position: absolute;
            top: 0;
            right: 260px;
            cursor: pointer;
        }
    }
}
